[2021-02-24 19:18] mikedanese opened #1 "test issue"
test issue

[2021-02-24 19:19] mikedanese commented on #1
/label sig-auth

[2021-02-24 19:19] #1 closed

[2021-04-30 16:22] yiqigao217 opened #58 "HNC: Revisit excluded-namespace configuration"
Consider excluding namespaces with K8s 1.21+ namespace metadata.name label -
See https://github.com/kubernetes/kubernetes/issues/92157#issuecomment-825160958

[2021-05-04 19:13] rjbez17 opened #5 "Migrate prow configuration to this repo"
We need to migrate the prow/e2e test configurations to this repo and remove from the multi-tenancy repo.

The configuration is in the test-infra repo here: https://github.com/kubernetes/test-infra/blob/master/config/jobs/kubernetes-sigs/wg-multi-tenancy/hnc-e2e.yaml

[2021-05-04 20:33] adrianludwin opened #6 "Release from our own gcr.io repo"
We currently release our images to `gcr.io/k8s-staging-multitenancy`. I feel like there should be some better repo than that.

/cc @rjbez17

[2021-05-04 21:33] rjbez17 opened #7 "(Metrics User Guide) Fix link to stackdriver metrics"
The old link here: https://github.com/kubernetes-sigs/multi-tenancy/blob/master/doc/metrics/stackdriver-gke.md

Is not a 404, need to find where it went and update the docs to point to it here:

https://github.com/kubernetes-sigs/hierarchical-namespaces/blob/master/docs/links.md

[2021-05-04 22:34] adrianludwin commented on #7
Looks like it's here:
https://github.com/kubernetes-sigs/multi-tenancy/blob/master/incubator/hnc/docs/user-guide/how-to.md#admin-metrics

On Tue, May 4, 2021 at 5:33 PM Ryan Bezdicek ***@***.***>
wrote:

[2021-05-05 14:49] yiqigao217 opened #8 "Migrate all HNC issues from kubernetes-sigs/multi-tenancy"
May use https://github.com/IQAndreas/github-issues-import as the tool.

[2021-05-05 18:14] yiqigao217 opened #9 "Replace excluded-namespace label with included-namespace"
<a href="https://github.com/yiqigao217"><img src="https://avatars.githubusercontent.com/u/51385444?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [yiqigao217](https://github.com/yiqigao217)**
_Friday Apr 30, 2021 at 16:22 GMT_
_Originally opened as https://github.com/kubernetes-sigs/multi-tenancy/issues/1503_

----

Consider excluding namespaces with K8s 1.21+ namespace

[2021-05-05 18:14] yiqigao217 commented on #9
<a href="https://github.com/yiqigao217"><img src="https://avatars.githubusercontent.com/u/51385444?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [yiqigao217](https://github.com/yiqigao217)**
_Friday Apr 30, 2021 at 20:07 GMT_

----

Another thought is that instead of using `excluded`, maybe use `included`? Considering the damage it could cause if the system namespace

[2021-05-05 18:15] yiqigao217 opened #10 "HNC: Prevent updating labels and annotations with hnc.x-k8s.io suffix on propagated objects"
<a href="https://github.com/yiqigao217"><img src="https://avatars.githubusercontent.com/u/51385444?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [yiqigao217](https://github.com/yiqigao217)**
_Thursday Apr 29, 2021 at 21:12 GMT_
_Originally opened as https://github.com/kubernetes-sigs/multi-tenancy/issues/1500_

----

The webhook does prevent editing the propagated obje

[2021-05-05 18:15] yiqigao217 opened #11 "HNC: document that you shouldn't exclude a namespace that's in a hierarchy"
<a href="https://github.com/adrianludwin"><img src="https://avatars.githubusercontent.com/u/20559844?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [adrianludwin](https://github.com/adrianludwin)**
_Thursday Apr 29, 2021 at 19:34 GMT_
_Originally opened as https://github.com/kubernetes-sigs/multi-tenancy/issues/1497_

----

See https://github.com/kubernetes-sigs/multi-t

[2021-05-05 18:16] yiqigao217 opened #12 "HNC: Add webhook rules to deny editing namespace tree labels"
<a href="https://github.com/yiqigao217"><img src="https://avatars.githubusercontent.com/u/51385444?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [yiqigao217](https://github.com/yiqigao217)**
_Tuesday Apr 27, 2021 at 20:10 GMT_
_Originally opened as https://github.com/kubernetes-sigs/multi-tenancy/issues/1494_

----

Currently, the tree labels on namespaces can be edite

[2021-05-05 18:17] yiqigao217 opened #13 "HNC: find a new way to test unpropagatable objects"
<a href="https://github.com/adrianludwin"><img src="https://avatars.githubusercontent.com/u/20559844?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [adrianludwin](https://github.com/adrianludwin)**
_Tuesday Apr 27, 2021 at 18:36 GMT_
_Originally opened as https://github.com/kubernetes-sigs/multi-tenancy/issues/1492_

----

Since #1489, HNC has been able to propagate `cl

[2021-05-05 18:17] yiqigao217 commented on #13
<a href="https://github.com/adrianludwin"><img src="https://avatars.githubusercontent.com/u/20559844?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [adrianludwin](https://github.com/adrianludwin)**
_Tuesday Apr 27, 2021 at 18:39 GMT_

----

Another possible way to do it:
* Create a Role in the parent and forbid it from being propagated
* Create a RoleBinding in the pa

[2021-05-05 18:17] yiqigao217 commented on #13
<a href="https://github.com/adrianludwin"><img src="https://avatars.githubusercontent.com/u/20559844?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [adrianludwin](https://github.com/adrianludwin)**
_Tuesday Apr 27, 2021 at 18:39 GMT_

----

/good-first-issue

[2021-05-05 18:17] yiqigao217 commented on #13
<a href="https://github.com/k8s-ci-robot"><img src="https://avatars.githubusercontent.com/u/20407524?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [k8s-ci-robot](https://github.com/k8s-ci-robot)**
_Tuesday Apr 27, 2021 at 18:39 GMT_

----

@adrianludwin:
	This request has been marked as suitable for new contributors.

Please ensure the request meets the requirements

[2021-05-05 18:23] yiqigao217 opened #14 "the tenant operator on ack deploy failed，requested access to the resource is denied"
<a href="https://github.com/xiqiu618"><img src="https://avatars.githubusercontent.com/u/73998049?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [xiqiu618](https://github.com/xiqiu618)**
_Sunday Apr 18, 2021 at 16:07 GMT_
_Originally opened as https://github.com/kubernetes-sigs/multi-tenancy/issues/1482_

----

fail to  the tenant operator manifests image pull image [Ima

[2021-05-05 18:23] yiqigao217 commented on #14
<a href="https://github.com/Fei-Guo"><img src="https://avatars.githubusercontent.com/u/43253347?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [Fei-Guo](https://github.com/Fei-Guo)**
_Monday Apr 19, 2021 at 17:40 GMT_

----

@xiqiu618 The tenant operator project will be deprecated. This is our very early attempt to support self-managed namespaces. We are moving to HNC

[2021-05-05 18:24] yiqigao217 opened #15 "HNC: Show right namespaces in `kubectl hns tree --all-namespaces`"
<a href="https://github.com/yiqigao217"><img src="https://avatars.githubusercontent.com/u/51385444?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [yiqigao217](https://github.com/yiqigao217)**
_Thursday Apr 15, 2021 at 17:36 GMT_
_Originally opened as https://github.com/kubernetes-sigs/multi-tenancy/issues/1478_

----

1) Namespaces with conditions are missing in the `ku

[2021-05-05 18:24] yiqigao217 commented on #15
<a href="https://github.com/FingerLiu"><img src="https://avatars.githubusercontent.com/u/3981064?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [FingerLiu](https://github.com/FingerLiu)**
_Monday Apr 19, 2021 at 03:31 GMT_

----

multi-tenancy is very useful, I'd like to work on this.
/assign

[2021-05-05 18:24] yiqigao217 commented on #15
<a href="https://github.com/FingerLiu"><img src="https://avatars.githubusercontent.com/u/3981064?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [FingerLiu](https://github.com/FingerLiu)**
_Monday Apr 19, 2021 at 03:45 GMT_

----

@yiqigao217 since I am new here, would you please give me a hint where should I start?

[2021-05-05 18:24] yiqigao217 commented on #15
<a href="https://github.com/yiqigao217"><img src="https://avatars.githubusercontent.com/u/51385444?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [yiqigao217](https://github.com/yiqigao217)**
_Tuesday Apr 27, 2021 at 20:41 GMT_

----

Hi @FingerLiu  sorry for the late reply. The `kubectl hns tree` command are defined in https://github.com/kubernetes-sigs/multi-tenancy

[2021-05-05 18:24] yiqigao217 commented on #15
<a href="https://github.com/FingerLiu"><img src="https://avatars.githubusercontent.com/u/3981064?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [FingerLiu](https://github.com/FingerLiu)**
_Wednesday Apr 28, 2021 at 02:59 GMT_

----

It looks clear to me now, thanks.

[2021-05-05 18:26] yiqigao217 opened #16 "Allow inclusive configuration of resources to propagate"
<a href="https://github.com/hferentschik"><img src="https://avatars.githubusercontent.com/u/296354?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [hferentschik](https://github.com/hferentschik)**
_Tuesday Mar 16, 2021 at 09:34 GMT_
_Originally opened as https://github.com/kubernetes-sigs/multi-tenancy/issues/1436_

----

When synchronizing additional resource types, eg

[2021-05-05 18:26] yiqigao217 commented on #16
<a href="https://github.com/adrianludwin"><img src="https://avatars.githubusercontent.com/u/20559844?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [adrianludwin](https://github.com/adrianludwin)**
_Tuesday Mar 16, 2021 at 14:40 GMT_

----

Yes, this is a good idea and we considered it when we were first [designing exceptions](https://docs.google.com/document/d/17J8ic

[2021-05-05 18:26] yiqigao217 commented on #16
<a href="https://github.com/k8s-ci-robot"><img src="https://avatars.githubusercontent.com/u/20407524?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [k8s-ci-robot](https://github.com/k8s-ci-robot)**
_Tuesday Mar 16, 2021 at 14:40 GMT_

----

@adrianludwin:
	This request has been marked as suitable for new contributors.

Please ensure the request meets the requirements

[2021-05-05 18:26] yiqigao217 opened #17 "SSL handshake issue when HNC controller is used alongside Istio sidecar proxy enabled with mTLS"
<a href="https://github.com/unmarshall"><img src="https://avatars.githubusercontent.com/u/1223360?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [unmarshall](https://github.com/unmarshall)**
_Thursday Mar 25, 2021 at 04:59 GMT_
_Originally opened as https://github.com/kubernetes-sigs/multi-tenancy/issues/1449_

----

Hello,

I tried to install a HNC controller version (

[2021-05-05 18:26] yiqigao217 commented on #17
<a href="https://github.com/yiqigao217"><img src="https://avatars.githubusercontent.com/u/51385444?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [yiqigao217](https://github.com/yiqigao217)**
_Tuesday Mar 30, 2021 at 14:27 GMT_

----

Hi Madhav,

Unfortunately, we haven't tested HNC with Istio. HNC talks to apiserver through webhook, which is already encrypted (TLS).

[2021-05-05 18:26] yiqigao217 commented on #17
<a href="https://github.com/yiqigao217"><img src="https://avatars.githubusercontent.com/u/51385444?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [yiqigao217](https://github.com/yiqigao217)**
_Thursday Apr 01, 2021 at 16:28 GMT_

----

Update: @unmarshall mentioned in the Slack: "I was able to install HNC manager by adding sidecar.istio.io/inject: “false” annotation t

[2021-05-05 18:26] yiqigao217 opened #18 "HNC: Adapt to new PSP replacement"
<a href="https://github.com/yiqigao217"><img src="https://avatars.githubusercontent.com/u/51385444?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [yiqigao217](https://github.com/yiqigao217)**
_Wednesday Apr 14, 2021 at 15:33 GMT_
_Originally opened as https://github.com/kubernetes-sigs/multi-tenancy/issues/1473_

----

See new [PSP replacement](https://docs.google.com/d

[2021-05-05 18:26] yiqigao217 commented on #18
<a href="https://github.com/adrianludwin"><img src="https://avatars.githubusercontent.com/u/20559844?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [adrianludwin](https://github.com/adrianludwin)**
_Wednesday Apr 14, 2021 at 15:53 GMT_

----

I'd remove the bit about pods here since we don't consider this to be a
valid use case.

On Wed, 14 Apr 2021, 11:33 am Yiqi Gao

[2021-05-05 18:26] yiqigao217 opened #19 "HNC: Update user doc to recommend against propagating workloads"
<a href="https://github.com/yiqigao217"><img src="https://avatars.githubusercontent.com/u/51385444?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [yiqigao217](https://github.com/yiqigao217)**
_Wednesday Apr 14, 2021 at 15:35 GMT_
_Originally opened as https://github.com/kubernetes-sigs/multi-tenancy/issues/1474_

----

Part of #1473

PSP replacement may affect HNC in th

[2021-05-05 18:28] yiqigao217 opened #20 "Allow propagation of resources per root namespace"
<a href="https://github.com/hferentschik"><img src="https://avatars.githubusercontent.com/u/296354?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [hferentschik](https://github.com/hferentschik)**
_Tuesday Mar 16, 2021 at 09:25 GMT_
_Originally opened as https://github.com/kubernetes-sigs/multi-tenancy/issues/1435_

----

Currently, you can only globally (via the HNCConf

[2021-05-05 18:28] yiqigao217 commented on #20
<a href="https://github.com/adrianludwin"><img src="https://avatars.githubusercontent.com/u/20559844?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [adrianludwin](https://github.com/adrianludwin)**
_Tuesday Mar 16, 2021 at 14:35 GMT_

----

There's no _technical_ barrier to doing this, but it's a pretty complicated _design_ problem. For example, assume we add an "allo

[2021-05-05 18:28] yiqigao217 opened #21 "HNC: Provide multiarch images (e.g. arm64)"
<a href="https://github.com/DWSR"><img src="https://avatars.githubusercontent.com/u/11413?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [DWSR](https://github.com/DWSR)**
_Wednesday Feb 10, 2021 at 01:35 GMT_
_Originally opened as https://github.com/kubernetes-sigs/multi-tenancy/issues/1383_

----

Hey all, I'd like to use HNC with my ARM cluster, but can't because HNC

[2021-05-05 18:28] yiqigao217 commented on #21
<a href="https://github.com/adrianludwin"><img src="https://avatars.githubusercontent.com/u/20559844?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [adrianludwin](https://github.com/adrianludwin)**
_Wednesday Feb 10, 2021 at 01:37 GMT_

----

Interesting. I'd love to support ARM but I'm not sure how to create a
multiarch image and (much more importantly) I have no way

[2021-05-05 18:28] yiqigao217 commented on #21
<a href="https://github.com/DWSR"><img src="https://avatars.githubusercontent.com/u/11413?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [DWSR](https://github.com/DWSR)**
_Wednesday Feb 10, 2021 at 03:58 GMT_

----

@adrianludwin This is relatively straightforward to build with [buildx](https://medium.com/@artur.klauser/building-multi-architecture-docker-images-with-b

[2021-05-05 18:28] yiqigao217 commented on #21
<a href="https://github.com/adrianludwin"><img src="https://avatars.githubusercontent.com/u/20559844?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [adrianludwin](https://github.com/adrianludwin)**
_Thursday Feb 18, 2021 at 14:50 GMT_

----

I'm not sure how the other components are tested - most testing is on GCP,
which as you say, only has Intel and AMD support.

I'

[2021-05-05 18:30] yiqigao217 opened #22 "windows how to use hns within kubectl"
<a href="https://github.com/JaneLiuL"><img src="https://avatars.githubusercontent.com/u/56822274?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [JaneLiuL](https://github.com/JaneLiuL)**
_Wednesday Nov 11, 2020 at 07:22 GMT_
_Originally opened as https://github.com/kubernetes-sigs/multi-tenancy/issues/1260_

----

Windows platform, when I download https://github.com/kube

[2021-05-05 18:30] yiqigao217 commented on #22
<a href="https://github.com/adrianludwin"><img src="https://avatars.githubusercontent.com/u/20559844?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [adrianludwin](https://github.com/adrianludwin)**
_Wednesday Nov 11, 2020 at 18:46 GMT_

----

We don't pre-build Windows executables so the HNS plugin won't work on
Windows. If you have a Go toolchain you should be able t

[2021-05-05 18:30] yiqigao217 commented on #22
<a href="https://github.com/fejta-bot"><img src="https://avatars.githubusercontent.com/u/30488982?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [fejta-bot](https://github.com/fejta-bot)**
_Sunday Mar 14, 2021 at 20:36 GMT_

----

Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d o

[2021-05-05 18:30] yiqigao217 commented on #22
<a href="https://github.com/yiqigao217"><img src="https://avatars.githubusercontent.com/u/51385444?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [yiqigao217](https://github.com/yiqigao217)**
_Tuesday Mar 16, 2021 at 13:42 GMT_

----

/remove-lifecycle stale

[2021-05-05 18:30] yiqigao217 opened #23 "HNC: make uninstalling HNC safer"
<a href="https://github.com/adrianludwin"><img src="https://avatars.githubusercontent.com/u/20559844?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [adrianludwin](https://github.com/adrianludwin)**
_Sunday Dec 13, 2020 at 17:29 GMT_
_Originally opened as https://github.com/kubernetes-sigs/multi-tenancy/issues/1320_

----

Our current guidance to deleting HNC is to delet

[2021-05-05 18:30] yiqigao217 commented on #23
<a href="https://github.com/k8s-ci-robot"><img src="https://avatars.githubusercontent.com/u/20407524?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [k8s-ci-robot](https://github.com/k8s-ci-robot)**
_Sunday Dec 13, 2020 at 17:29 GMT_

----

@adrianludwin:
	This request has been marked as suitable for new contributors.

Please ensure the request meets the requirements l

[2021-05-05 18:30] yiqigao217 commented on #23
<a href="https://github.com/GinnyJI"><img src="https://avatars.githubusercontent.com/u/24942757?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [GinnyJI](https://github.com/GinnyJI)**
_Monday Dec 14, 2020 at 19:52 GMT_

----

/assign @GinnyJI

[2021-05-05 18:30] yiqigao217 commented on #23
<a href="https://github.com/fejta-bot"><img src="https://avatars.githubusercontent.com/u/30488982?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [fejta-bot](https://github.com/fejta-bot)**
_Sunday Mar 14, 2021 at 20:36 GMT_

----

Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d o

[2021-05-05 18:30] yiqigao217 commented on #23
<a href="https://github.com/yiqigao217"><img src="https://avatars.githubusercontent.com/u/51385444?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [yiqigao217](https://github.com/yiqigao217)**
_Tuesday Mar 16, 2021 at 14:54 GMT_

----

/remove-lifecycle stale
@adrianludwin move this to backlog?

[2021-05-05 18:30] yiqigao217 commented on #23
<a href="https://github.com/yiqigao217"><img src="https://avatars.githubusercontent.com/u/51385444?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [yiqigao217](https://github.com/yiqigao217)**
_Thursday Apr 29, 2021 at 17:58 GMT_

----

@adrianludwin
With #1305 doing https://github.com/kubernetes-sigs/multi-tenancy/issues/1285#issuecomment-734384510, seems we don't nee

[2021-05-05 18:30] yiqigao217 commented on #23
<a href="https://github.com/adrianludwin"><img src="https://avatars.githubusercontent.com/u/20559844?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [adrianludwin](https://github.com/adrianludwin)**
_Friday Apr 30, 2021 at 01:40 GMT_

----

The idea is that our current process relies on a lot of things to go _well_. E.g. if #1305 has some weird corner case we don't kno

[2021-05-05 18:30] yiqigao217 opened #24 "HNC: detect group automatically where possible"
<a href="https://github.com/adrianludwin"><img src="https://avatars.githubusercontent.com/u/20559844?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [adrianludwin](https://github.com/adrianludwin)**
_Tuesday Jan 05, 2021 at 19:46 GMT_
_Originally opened as https://github.com/kubernetes-sigs/multi-tenancy/issues/1336_

----

See https://groups.google.com/g/kubernetes-wg-m

[2021-05-05 18:30] yiqigao217 commented on #24
<a href="https://github.com/adrianludwin"><img src="https://avatars.githubusercontent.com/u/20559844?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [adrianludwin](https://github.com/adrianludwin)**
_Tuesday Jan 05, 2021 at 19:46 GMT_

----

/help-wanted

[2021-05-05 18:30] yiqigao217 commented on #24
<a href="https://github.com/smarterclayton"><img src="https://avatars.githubusercontent.com/u/1163175?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [smarterclayton](https://github.com/smarterclayton)**
_Tuesday Jan 05, 2021 at 21:57 GMT_

----

Ungrouped names are “first one registered wins” which is mostly to preserve backward compatibility (as we went from ungroupe

[2021-05-05 18:30] yiqigao217 commented on #24
<a href="https://github.com/adrianludwin"><img src="https://avatars.githubusercontent.com/u/20559844?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [adrianludwin](https://github.com/adrianludwin)**
_Tuesday Jan 05, 2021 at 22:04 GMT_

----

Thanks @smarterclayton - I hadn't known that history. I had a mutating admission webhook in mind for the server-side so whatever

[2021-05-05 18:30] yiqigao217 commented on #24
<a href="https://github.com/fejta-bot"><img src="https://avatars.githubusercontent.com/u/30488982?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [fejta-bot](https://github.com/fejta-bot)**
_Monday Apr 05, 2021 at 22:12 GMT_

----

Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d o

[2021-05-05 18:30] yiqigao217 commented on #24
<a href="https://github.com/yiqigao217"><img src="https://avatars.githubusercontent.com/u/51385444?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [yiqigao217](https://github.com/yiqigao217)**
_Wednesday May 05, 2021 at 18:29 GMT_

----

/remove-lifecycle stale

[2021-05-05 18:31] yiqigao217 opened #25 "HNC: Add a presubmit to ensure `make generate` doesn't produce diffs"
<a href="https://github.com/yiqigao217"><img src="https://avatars.githubusercontent.com/u/51385444?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [yiqigao217](https://github.com/yiqigao217)**
_Monday Jul 06, 2020 at 18:52 GMT_
_Originally opened as https://github.com/kubernetes-sigs/multi-tenancy/issues/852_

----

In #841 , a change to the auto-generated manifest was n

[2021-05-05 18:31] yiqigao217 commented on #25
<a href="https://github.com/yiqigao217"><img src="https://avatars.githubusercontent.com/u/51385444?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [yiqigao217](https://github.com/yiqigao217)**
_Monday Jul 06, 2020 at 18:52 GMT_

----

/cc @adrianludwin

[2021-05-05 18:31] yiqigao217 commented on #25
<a href="https://github.com/fejta-bot"><img src="https://avatars.githubusercontent.com/u/30488982?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [fejta-bot](https://github.com/fejta-bot)**
_Monday Oct 26, 2020 at 20:13 GMT_

----

Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d o

[2021-05-05 18:31] yiqigao217 commented on #25
<a href="https://github.com/adrianludwin"><img src="https://avatars.githubusercontent.com/u/20559844?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [adrianludwin](https://github.com/adrianludwin)**
_Tuesday Oct 27, 2020 at 01:55 GMT_

----

/remove-lifecycle stale

On Mon, Oct 26, 2020 at 4:13 PM fejta-bot <notifications@github.com> wrote:

[2021-05-05 18:31] yiqigao217 commented on #25
<a href="https://github.com/fejta-bot"><img src="https://avatars.githubusercontent.com/u/30488982?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [fejta-bot](https://github.com/fejta-bot)**
_Monday Jan 25, 2021 at 02:28 GMT_

----

Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d o

[2021-05-05 18:31] yiqigao217 commented on #25
<a href="https://github.com/yiqigao217"><img src="https://avatars.githubusercontent.com/u/51385444?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [yiqigao217](https://github.com/yiqigao217)**
_Wednesday Feb 17, 2021 at 14:12 GMT_

----

/remove-lifecycle stale

[2021-05-05 18:31] yiqigao217 opened #26 "HNC: test function TearDownHNC can fail silently"
<a href="https://github.com/adrianludwin"><img src="https://avatars.githubusercontent.com/u/20559844?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [adrianludwin](https://github.com/adrianludwin)**
_Friday Aug 21, 2020 at 14:55 GMT_
_Originally opened as https://github.com/kubernetes-sigs/multi-tenancy/issues/1041_

----

/cc @GinnyJI
/cc @yiqigao217

Ginny and I were l

[2021-05-05 18:31] yiqigao217 commented on #26
<a href="https://github.com/adrianludwin"><img src="https://avatars.githubusercontent.com/u/20559844?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [adrianludwin](https://github.com/adrianludwin)**
_Friday Aug 21, 2020 at 14:55 GMT_

----

/good-first-issue

[2021-05-05 18:31] yiqigao217 commented on #26
<a href="https://github.com/k8s-ci-robot"><img src="https://avatars.githubusercontent.com/u/20407524?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [k8s-ci-robot](https://github.com/k8s-ci-robot)**
_Friday Aug 21, 2020 at 14:55 GMT_

----

@adrianludwin:
	This request has been marked as suitable for new contributors.

Please ensure the request meets the requirements l

[2021-05-05 18:31] yiqigao217 commented on #26
<a href="https://github.com/mayankshah1607"><img src="https://avatars.githubusercontent.com/u/30319228?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [mayankshah1607](https://github.com/mayankshah1607)**
_Sunday Sep 06, 2020 at 12:46 GMT_

----

Hi @adrianludwin , I'd like to give this issue a try. :)
I just looked into the code, and I see that we have an alternate fu

[2021-05-05 18:31] yiqigao217 commented on #26
<a href="https://github.com/adrianludwin"><img src="https://avatars.githubusercontent.com/u/20559844?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [adrianludwin](https://github.com/adrianludwin)**
_Sunday Sep 06, 2020 at 16:23 GMT_

----

Hey Mayank, sorry I've been on vacation this last week. I'll reply when I'm
back after Labour Day (i.e. early next week). Thanks!

[2021-05-05 18:31] yiqigao217 commented on #26
<a href="https://github.com/mayankshah1607"><img src="https://avatars.githubusercontent.com/u/30319228?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [mayankshah1607](https://github.com/mayankshah1607)**
_Sunday Sep 06, 2020 at 17:19 GMT_

----

No problem. Have a great vacation! 🙂

[2021-05-05 18:31] yiqigao217 commented on #26
<a href="https://github.com/adrianludwin"><img src="https://avatars.githubusercontent.com/u/20559844?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [adrianludwin](https://github.com/adrianludwin)**
_Tuesday Sep 08, 2020 at 12:12 GMT_

----

Hey let me know if you need any advice on this but any PRs would be welcome!

[2021-05-05 18:31] yiqigao217 commented on #26
<a href="https://github.com/mayankshah1607"><img src="https://avatars.githubusercontent.com/u/30319228?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [mayankshah1607](https://github.com/mayankshah1607)**
_Tuesday Sep 08, 2020 at 12:15 GMT_

----

Hi, @adrianludwin . Thanks!
I was just trying to wrap my head around this issue, and tried to look into the code. The issue

[2021-05-05 18:31] yiqigao217 commented on #26
<a href="https://github.com/adrianludwin"><img src="https://avatars.githubusercontent.com/u/20559844?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [adrianludwin](https://github.com/adrianludwin)**
_Tuesday Sep 08, 2020 at 12:32 GMT_

----

I believe the problem is that we _expect_ some of the commands in the cleanup to fail - e.g., if we try to delete a namespace tha

[2021-05-05 18:31] yiqigao217 commented on #26
<a href="https://github.com/fejta-bot"><img src="https://avatars.githubusercontent.com/u/30488982?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [fejta-bot](https://github.com/fejta-bot)**
_Tuesday Mar 02, 2021 at 06:39 GMT_

----

Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d

[2021-05-05 18:31] yiqigao217 commented on #26
<a href="https://github.com/yiqigao217"><img src="https://avatars.githubusercontent.com/u/51385444?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [yiqigao217](https://github.com/yiqigao217)**
_Tuesday Mar 16, 2021 at 15:10 GMT_

----

/remove-lifecycle stale

[2021-05-05 18:31] yiqigao217 opened #27 "HNC: Add object webhook rules for updating a source object"
<a href="https://github.com/yiqigao217"><img src="https://avatars.githubusercontent.com/u/51385444?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [yiqigao217](https://github.com/yiqigao217)**
_Friday Sep 18, 2020 at 16:36 GMT_
_Originally opened as https://github.com/kubernetes-sigs/multi-tenancy/issues/1120_

----

Another corner case of #1076

If a user removes the fi

[2021-05-05 18:31] yiqigao217 commented on #27
<a href="https://github.com/yiqigao217"><img src="https://avatars.githubusercontent.com/u/51385444?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [yiqigao217](https://github.com/yiqigao217)**
_Friday Sep 18, 2020 at 17:58 GMT_

----

/cc @adrianludwin
/assign @GinnyJI

There's no rush for this corner case.

[2021-05-05 18:31] yiqigao217 commented on #27
<a href="https://github.com/fejta-bot"><img src="https://avatars.githubusercontent.com/u/30488982?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [fejta-bot](https://github.com/fejta-bot)**
_Tuesday Mar 02, 2021 at 06:39 GMT_

----

Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d

[2021-05-05 18:31] yiqigao217 commented on #27
<a href="https://github.com/yiqigao217"><img src="https://avatars.githubusercontent.com/u/51385444?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [yiqigao217](https://github.com/yiqigao217)**
_Tuesday Mar 16, 2021 at 15:12 GMT_

----

/remove-lifecycle stale

This can remain in the backlog since is a rare corner case.

[2021-05-05 18:32] yiqigao217 opened #28 "HNC: support `kubectl explain` and `kubectl describe`"
<a href="https://github.com/adrianludwin"><img src="https://avatars.githubusercontent.com/u/20559844?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [adrianludwin](https://github.com/adrianludwin)**
_Friday Sep 25, 2020 at 20:47 GMT_
_Originally opened as https://github.com/kubernetes-sigs/multi-tenancy/issues/1153_

----

https://www.youtube.com/watch?v=zAtaJ0x-ZwY&feat

[2021-05-05 18:32] yiqigao217 commented on #28
<a href="https://github.com/adrianludwin"><img src="https://avatars.githubusercontent.com/u/20559844?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [adrianludwin](https://github.com/adrianludwin)**
_Friday Sep 25, 2020 at 20:47 GMT_

----

/good-first-issue

[2021-05-05 18:32] yiqigao217 commented on #28
<a href="https://github.com/k8s-ci-robot"><img src="https://avatars.githubusercontent.com/u/20407524?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [k8s-ci-robot](https://github.com/k8s-ci-robot)**
_Friday Sep 25, 2020 at 20:47 GMT_

----

@adrianludwin:
	This request has been marked as suitable for new contributors.

Please ensure the request meets the requirements l

[2021-05-05 18:32] yiqigao217 commented on #28
<a href="https://github.com/frbimo"><img src="https://avatars.githubusercontent.com/u/26115956?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [frbimo](https://github.com/frbimo)**
_Tuesday Oct 06, 2020 at 16:45 GMT_

----

/assign

[2021-05-05 18:32] yiqigao217 commented on #28
<a href="https://github.com/frbimo"><img src="https://avatars.githubusercontent.com/u/26115956?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [frbimo](https://github.com/frbimo)**
_Wednesday Oct 07, 2020 at 08:09 GMT_

----

Hi @adrianludwin , i may need your guidance. i tried to reproduce result on youtube video, so i deployed self-built hnc on branch 0.5.3.
executin

[2021-05-05 18:32] yiqigao217 commented on #28
<a href="https://github.com/adrianludwin"><img src="https://avatars.githubusercontent.com/u/20559844?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [adrianludwin](https://github.com/adrianludwin)**
_Wednesday Oct 07, 2020 at 13:37 GMT_

----

I've never run either `explain` or `describe` before so I'm not sure what _should_ happen, but it looks like `explain` needs a

[2021-05-05 18:32] yiqigao217 commented on #28
<a href="https://github.com/frbimo"><img src="https://avatars.githubusercontent.com/u/26115956?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [frbimo](https://github.com/frbimo)**
_Thursday Oct 08, 2020 at 16:39 GMT_

----

`kubectl describe crd hierarchyconfigurations.hnc.x-k8s.io` will shows crd details as similar in [here](https://github.com/kubernetes-sigs/multi-t

[2021-05-05 18:32] yiqigao217 commented on #28
<a href="https://github.com/frbimo"><img src="https://avatars.githubusercontent.com/u/26115956?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [frbimo](https://github.com/frbimo)**
_Thursday Oct 08, 2020 at 16:43 GMT_

----

FYI, i tested it using:
go 1.14
controller-gen 0.2.8
kubernetes 1.18

as behavior i mentioned above, overall `kubectl explain` and `kubectl descri

[2021-05-05 18:32] yiqigao217 commented on #28
<a href="https://github.com/adrianludwin"><img src="https://avatars.githubusercontent.com/u/20559844?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [adrianludwin](https://github.com/adrianludwin)**
_Wednesday Oct 14, 2020 at 16:39 GMT_

----

Sorry for the delay, it's a short and busy week here in Canada due to Canadian Thanksgiving.

It's weird that when Josh said `k

[2021-05-05 18:32] yiqigao217 commented on #28
<a href="https://github.com/adrianludwin"><img src="https://avatars.githubusercontent.com/u/20559844?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [adrianludwin](https://github.com/adrianludwin)**
_Wednesday Oct 14, 2020 at 16:48 GMT_

----

I reviewed the video (at high speed, skipping a lot) and I couldn't find him explicitly talking about `kubectl describe`. I thi

[2021-05-05 18:32] yiqigao217 commented on #28
<a href="https://github.com/fejta-bot"><img src="https://avatars.githubusercontent.com/u/30488982?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [fejta-bot](https://github.com/fejta-bot)**
_Tuesday Jan 12, 2021 at 17:39 GMT_

----

Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d

[2021-05-05 18:32] yiqigao217 commented on #28
<a href="https://github.com/fejta-bot"><img src="https://avatars.githubusercontent.com/u/30488982?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [fejta-bot](https://github.com/fejta-bot)**
_Thursday Feb 11, 2021 at 18:25 GMT_

----

Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additiona

[2021-05-05 18:32] yiqigao217 commented on #28
<a href="https://github.com/yiqigao217"><img src="https://avatars.githubusercontent.com/u/51385444?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [yiqigao217](https://github.com/yiqigao217)**
_Wednesday Feb 17, 2021 at 14:11 GMT_

----

/remove-lifecycle rotten

[2021-05-05 18:33] yiqigao217 opened #29 "HNC: Ensure no-one puts a finalizer on a HierarchyConfiguration object"
<a href="https://github.com/adrianludwin"><img src="https://avatars.githubusercontent.com/u/20559844?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [adrianludwin](https://github.com/adrianludwin)**
_Tuesday Apr 07, 2020 at 21:02 GMT_
_Originally opened as https://github.com/kubernetes-sigs/multi-tenancy/issues/623_

----

Currently, `updateFinalizers` (`pkg/reconcilers/

[2021-05-05 18:33] yiqigao217 commented on #29
<a href="https://github.com/adrianludwin"><img src="https://avatars.githubusercontent.com/u/20559844?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [adrianludwin](https://github.com/adrianludwin)**
_Tuesday Apr 07, 2020 at 21:02 GMT_

----

/good-first-issue
/cc @yiqigao217

[2021-05-05 18:33] yiqigao217 commented on #29
<a href="https://github.com/k8s-ci-robot"><img src="https://avatars.githubusercontent.com/u/20407524?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [k8s-ci-robot](https://github.com/k8s-ci-robot)**
_Tuesday Apr 07, 2020 at 21:02 GMT_

----

@adrianludwin:
	This request has been marked as suitable for new contributors.

Please ensure the request meets the requirements

[2021-05-05 18:33] yiqigao217 commented on #29
<a href="https://github.com/fejta-bot"><img src="https://avatars.githubusercontent.com/u/30488982?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [fejta-bot](https://github.com/fejta-bot)**
_Monday Jul 06, 2020 at 21:35 GMT_

----

Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d o

[2021-05-05 18:33] yiqigao217 commented on #29
<a href="https://github.com/yiqigao217"><img src="https://avatars.githubusercontent.com/u/51385444?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [yiqigao217](https://github.com/yiqigao217)**
_Tuesday Jul 07, 2020 at 13:46 GMT_

----

/remove-lifecycle stale

[2021-05-05 18:33] yiqigao217 commented on #29
<a href="https://github.com/fejta-bot"><img src="https://avatars.githubusercontent.com/u/30488982?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [fejta-bot](https://github.com/fejta-bot)**
_Monday Oct 05, 2020 at 13:55 GMT_

----

Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d o

[2021-05-05 18:33] yiqigao217 commented on #29
<a href="https://github.com/rajibmitra"><img src="https://avatars.githubusercontent.com/u/1690251?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [rajibmitra](https://github.com/rajibmitra)**
_Friday Oct 16, 2020 at 20:34 GMT_

----

hi @adrianludwin thank you for the starting points, I will work on the test case now.

[2021-05-05 18:33] yiqigao217 commented on #29
<a href="https://github.com/adrianludwin"><img src="https://avatars.githubusercontent.com/u/20559844?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [adrianludwin](https://github.com/adrianludwin)**
_Friday Oct 16, 2020 at 20:35 GMT_

----

/remove-lifecycle stale

Thanks!

[2021-05-05 18:33] yiqigao217 commented on #29
<a href="https://github.com/fejta-bot"><img src="https://avatars.githubusercontent.com/u/30488982?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [fejta-bot](https://github.com/fejta-bot)**
_Thursday Jan 14, 2021 at 21:29 GMT_

----

Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d

[2021-05-05 18:33] yiqigao217 commented on #29
<a href="https://github.com/fejta-bot"><img src="https://avatars.githubusercontent.com/u/30488982?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [fejta-bot](https://github.com/fejta-bot)**
_Saturday Feb 13, 2021 at 22:15 GMT_

----

Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additiona

[2021-05-05 18:33] yiqigao217 commented on #29
<a href="https://github.com/yiqigao217"><img src="https://avatars.githubusercontent.com/u/51385444?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [yiqigao217](https://github.com/yiqigao217)**
_Wednesday Feb 17, 2021 at 14:10 GMT_

----

/remove-lifecycle rotten

[2021-05-05 18:33] yiqigao217 commented on #29
<a href="https://github.com/yiqigao217"><img src="https://avatars.githubusercontent.com/u/51385444?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [yiqigao217](https://github.com/yiqigao217)**
_Wednesday Apr 28, 2021 at 20:56 GMT_

----

To be clear, this is only trying to notify users explicitly that their attempt to add finalizers is not allowed, right? (by having a

[2021-05-05 18:33] yiqigao217 commented on #29
<a href="https://github.com/adrianludwin"><img src="https://avatars.githubusercontent.com/u/20559844?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [adrianludwin](https://github.com/adrianludwin)**
_Thursday Apr 29, 2021 at 01:45 GMT_

----

I didn't realize that, but it sounds reasonable :)

On Wed, Apr 28, 2021 at 4:56 PM Yiqi Gao ***@***.***> wrote:

[2021-05-05 18:33] yiqigao217 opened #30 "HNC: consider preventing orphans"
<a href="https://github.com/adrianludwin"><img src="https://avatars.githubusercontent.com/u/20559844?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [adrianludwin](https://github.com/adrianludwin)**
_Wednesday May 13, 2020 at 17:17 GMT_
_Originally opened as https://github.com/kubernetes-sigs/multi-tenancy/issues/717_

----

Currently, HNC lets you delete parents of full

[2021-05-05 18:33] yiqigao217 commented on #30
<a href="https://github.com/adrianludwin"><img src="https://avatars.githubusercontent.com/u/20559844?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [adrianludwin](https://github.com/adrianludwin)**
_Wednesday May 13, 2020 at 17:17 GMT_

----

/assign @yiqigao217

Again this isn't for HNC v0.4

[2021-05-05 18:33] yiqigao217 commented on #30
<a href="https://github.com/fejta-bot"><img src="https://avatars.githubusercontent.com/u/30488982?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [fejta-bot](https://github.com/fejta-bot)**
_Tuesday Aug 11, 2020 at 17:33 GMT_

----

Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d

[2021-05-05 18:33] yiqigao217 commented on #30
<a href="https://github.com/yiqigao217"><img src="https://avatars.githubusercontent.com/u/51385444?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [yiqigao217](https://github.com/yiqigao217)**
_Wednesday Aug 12, 2020 at 14:09 GMT_

----

/remove-lifecycle stale

[2021-05-05 18:33] yiqigao217 commented on #30
<a href="https://github.com/fejta-bot"><img src="https://avatars.githubusercontent.com/u/30488982?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [fejta-bot](https://github.com/fejta-bot)**
_Tuesday Nov 10, 2020 at 14:58 GMT_

----

Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d

[2021-05-05 18:33] yiqigao217 commented on #30
<a href="https://github.com/fejta-bot"><img src="https://avatars.githubusercontent.com/u/30488982?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [fejta-bot](https://github.com/fejta-bot)**
_Thursday Dec 10, 2020 at 15:43 GMT_

----

Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additiona

[2021-05-05 18:33] yiqigao217 commented on #30
<a href="https://github.com/adrianludwin"><img src="https://avatars.githubusercontent.com/u/20559844?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [adrianludwin](https://github.com/adrianludwin)**
_Thursday Dec 10, 2020 at 17:07 GMT_

----

/remove-lifecycle rotten

On Thu, Dec 10, 2020 at 10:43 AM fejta-bot <notifications@github.com> wrote:

[2021-05-05 18:33] yiqigao217 commented on #30
<a href="https://github.com/fejta-bot"><img src="https://avatars.githubusercontent.com/u/30488982?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [fejta-bot](https://github.com/fejta-bot)**
_Wednesday Mar 10, 2021 at 17:59 GMT_

----

Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30

[2021-05-05 18:33] yiqigao217 commented on #30
<a href="https://github.com/yiqigao217"><img src="https://avatars.githubusercontent.com/u/51385444?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [yiqigao217](https://github.com/yiqigao217)**
_Tuesday Mar 16, 2021 at 15:03 GMT_

----

 /remove-lifecycle stale
@adrianludwin this can remain in backlog and not into v0.8 milestone.

[2021-05-05 18:33] yiqigao217 commented on #30
<a href="https://github.com/fejta-bot"><img src="https://avatars.githubusercontent.com/u/30488982?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [fejta-bot](https://github.com/fejta-bot)**
_Thursday Apr 15, 2021 at 15:19 GMT_

----

Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additiona

[2021-05-05 18:33] yiqigao217 commented on #30
<a href="https://github.com/yiqigao217"><img src="https://avatars.githubusercontent.com/u/51385444?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [yiqigao217](https://github.com/yiqigao217)**
_Wednesday May 05, 2021 at 18:32 GMT_

----

/remove-lifecycle rotten

[2021-05-05 19:43] yiqigao217 commented on #8
All [v0.9](https://github.com/kubernetes-sigs/multi-tenancy/milestone/21) milestone issues and open [backlog](https://github.com/kubernetes-sigs/multi-tenancy/milestone/9) issues are migrated.

[2021-05-05 19:43] #8 closed

[2021-05-05 21:57] #5 closed

[2021-05-06 13:36] adrianludwin opened #32 "Move Prow and Testgrid configs out of wg-multi-tenancy"
Anyone who goes hunting in the kubernetes/test-infra repo for HNC will be looking for the name of this repo (`hierarchical-namespaces`), not the old repo (`wg-multi-tenancy`). I think it makes sense to move the HNC configs out of:

* https://github.com/kubernetes/test-infra/tree/master/config/jobs/kubernetes-sigs/wg-multi-tenancy
* https://github.com/kubernetes/test-infra/tree/master/config/testgr

[2021-05-06 13:36] adrianludwin commented on #32
/cc @rjbez17

[2021-05-06 13:36] adrianludwin commented on #32
wdyt?

[2021-05-06 13:58] adrianludwin opened #33 "Don't require an explicit namespace label to exclude webhooks"
The v0.8 implementation of our webhooks was for an 'excluded-namespace' label, which means we need to _explicitly_ label namespaces (like `kube-system`) that we _don't_ want to be affected by HNC. However, a better solution might be to use the list of excluded namespaces on the command-line as the only source of truth, and have HNC automatically _add_ a label to all namespaces that it _does_ manag

[2021-05-06 14:52] yiqigao217 commented on #33
Closing this to consolidate with #9

[2021-05-06 14:52] #33 closed

[2021-05-06 17:16] rjbez17 commented on #32
Yeah I agree. We are our own sub project now so shouldn't be an issue to get that setup.

[2021-05-06 19:08] yiqigao217 commented on #9
(The `app.kubernetes.io/managed-by` label may be a good option, but ACM already uses it on namespaces created from the repo. In that case, when HNC works with ACM in the same cluster, HNC actually "manages" the namespace but cannot have the `app.kubernetes.io/managed-by: hnc.x-k8s.io` on that namespace.)

Since this label is mainly for the object webhook to decide whether to enforce policy on the

[2021-05-10 16:26] rjbez17 commented on #9
Sorry, I never hit submit last week. Yes, I do agree with this approach. Would we use a mutating WH on the NS object to add the label? Do it in reconciliation later? I assume it will also disallow removing the label/re-add it?

[2021-05-10 16:31] adrianludwin commented on #9
... but we should add a webhook to prevent users from modifying these
labels as well (I think there's another bug about stopping people from
modifying tree labels too).

Ryan, any thoughts on webhooks-enforced vs webhooks-enabled? I'm also
thinking that it's a bit weird that this label only controls _one_ webhook
(the object webhook) so maybe we need a more specific name? Maybe
hnc.x-k8s.io/includ

[2021-05-10 16:33] rjbez17 commented on #9
Yea I was just going to suggest something like `hnc.x-k8s.io/is-excluded` or `hnc.x-k8s.io/hnc-managed` but `hnc.x-k8s.io/included-namespace` works as well. It would also make it more clear to admins what the label is for without having to dive into docs.

[2021-05-10 16:39] yiqigao217 commented on #9
`hnc.x-k8s.io/included-namespace` as opposite of the `--excluded-namespace` command-line flag sgtm! Will update the PR #36

[2021-05-14 14:09] yiqigao217 opened #37 "Consider using a mutating webhook on included namespaces"
Part of #9
See https://github.com/kubernetes-sigs/hierarchical-namespaces/pull/36#discussion_r631420215

Since people or system may apply namespace yaml file with no `included-namespace` labels on the namespaces, the attempts after the first time will be rejected if our webhook doesn't allow updating included namespaces without `included-namespace` label. Thus in #36, the webhook allows updating i

[2021-05-15 12:57] RealHarshThakur commented on #21
Hey folks! I would like to take this up, can you please assign this to me?
Can I use `docker buildx` though?

[2021-05-15 16:26] adrianludwin commented on #21
You can definitely start working on it, we can't formally assign it to you unless you're a member of kubernetes-sigs. But that's not necessary to actually work on.

The only requirement is that you need to have access to a GCP project because we use Google Cloud Build to build. Do you have that?

If you do, the Docker image is built [here](https://github.com/kubernetes-sigs/hierarchical-namespaces

[2021-05-17 13:52] yiqigao217 commented on #37
Besides the small gap when the `included-namespace` label is missing mentioned above, mutating webhooks seem to work better for included namespaces (see https://github.com/kubernetes-sigs/hierarchical-namespaces/pull/36#discussion_r632806124)

We will add a mutating webhook to:
1. Remove `included-namespace` label on excluded namespaces
2. Ensure `included-namespace` label with correct value `true

[2021-05-18 14:38] yiqigao217 opened #38 "Remove `sideEffects:None` webhook patches"
Remove webhook patches (https://github.com/kubernetes-sigs/hierarchical-namespaces/blob/master/config/webhook/webhook_patch.yaml#L39-L46) since the kubuilder now has the `sideEffects` marker and we are using it right now. Controller-gen has already generate it in the `config/webhook/manifests.yaml`.

[2021-05-19 14:09] RealHarshThakur opened #41 "Exceptions support for GVK"
Currently, we have support for exceptions but only for a particular resource . It would be nice to have it for entire GVK since we don't have support for multiple `HNCConfiguration` .

If we had multiple `HNCConfiguration`, here's what I would do :
* I would like to have the `HNCConfiguration` named `config-A` which can propagate config maps/secret/custom resource , roles and rolebindings .
* For

[2021-05-19 14:55] adrianludwin commented on #41
Thanks @RealHarshThakur. Just a small correction - every namespace can have a [`HierarchyConfiguration`](https://github.com/kubernetes-sigs/hierarchical-namespaces/blob/ba15870be8ba46b259891c1cd55634e7e438d62c/api/v1alpha2/hierarchy_types.go#L108), which currently only has two interesting fields:
* The parent of the namespace
* Whether or not cascading deletion is enabled

GVK propagation (technic

[2021-05-20 15:33] #37 closed

[2021-05-20 20:44] #9 closed

[2021-05-20 20:50] #38 closed

[2021-05-20 22:15] RealHarshThakur commented on #12
@yiqigao217 Can I take this up?

Just had a question:
* Do we have a field manager/owner to identify only HNC is allowed to make changes to labels? If so, is that what we can use to reject requests from other field manager/owner?

[2021-05-30 08:33] FingerLiu commented on #15
@yiqigao217  Hi, a little question here, after the parent namespace deleted,  why do not we do Cascade Delete?
In this case, if acme-org is deleted, why not we delete team-a and team-b? If so, the current issue should not be triggered anymore

[2021-05-31 00:05] yiqigao217 commented on #15
Hi @FingerLiu this is a good question! We do have a [cascading deletion option](https://github.com/kubernetes-sigs/hierarchical-namespaces/blob/master/docs/user-guide/how-to.md#delete-a-subnamespace
) for `subnamespaces` (see definition of [subnamespaces](https://github.com/kubernetes-sigs/hierarchical-namespaces/blob/master/docs/user-guide/concepts.md#subnamespaces-and-full-namespaces)).

However

[2021-06-03 22:01] rptaylor opened #46 "Create Helm chart as part of the build process"
Hello,

Do you plan to provide a Helm chart for HNC installation?  This would make it easier for operators to manage HNC installations.

Thanks!

[2021-06-04 17:44] adrianludwin commented on #46
I'm certainly open to it but I don't really use Helm myself. HNC doesn't really have any options - how would a Helm chart be better than a simple manifest?

Would you be willing to make a PR to add one? If so, I think the way to do it would be similar to how we create the Krew manifest:
* Create the chart file in the `hack/` directory (like the [krew version](https://github.com/kubernetes-sigs/hie

[2021-06-04 21:07] rptaylor commented on #46
A helm chart can be nice because it bundles all the components together and allows operations  (list, upgrade, uninstall operations)  to be performed on them in aggregate.  Currently with one big YAML file, you can install all the components at once with kubectl apply, but then you are left with a slew of objects and resources in your cluster that can not be cohesively managed.  How would you unin

[2021-06-04 21:22] rptaylor commented on #46
I'm not sure if it would make sense to add more processing in the Makefile to "unbuild" all the YAML into a Helm chart, when ideally another benefit of Helm would be to simplify the packaging and maintenance of YAML files for the developers and avoid having to do YAML processing. But I don't really know how the build process works, or if you think it would be practical to revamp it.

[2021-06-05 00:38] rptaylor commented on #46
Noting https://github.com/kubernetes-sigs/multi-tenancy/blob/master/incubator/hnc/docs/user-guide/how-to.md#excluding-namespaces-from-hnc
operators might very well want the configurability to exclude additional namespaces:
https://github.com/kubernetes-sigs/multi-tenancy/blob/master/incubator/hnc/docs/user-guide/how-to.md#modify-command-line-arguments
This may remain true after HNC graduates to GA

[2021-06-05 01:01] rptaylor commented on #46
It seems that HNC does have configurable options that operators may wish to modify, such as the HNCConfiguration object.
https://github.com/kubernetes-sigs/multi-tenancy/blob/master/incubator/hnc/docs/user-guide/how-to.md#uninstall-hnc-from-a-cluster
Wouldn't any modifications to HNCConfiguration be lost when upgrading HNC with kubectl apply?

With Helm, user-specified properties could easily be i

[2021-06-05 02:56] adrianludwin commented on #46
Excluded namespaces are a good point, I could see you wanting to configure those in Helm. `HNCConfiguration` isn't really a good point since the default manifest doesn't come with a default copy of `HNCConfiguration` so it will never be overwritten. You can delete HNC today with `kubectl delete -f <manifest>` but I agree this is pretty clunky.

None of this is an argument against Helm, btw, just g

[2021-06-05 14:17] #28 closed

[2021-06-05 14:17] #29 closed

[2021-06-05 14:17] #30 closed

[2021-06-07 10:35] garyhodgson commented on #22
Hi, for what it's worth, I could successfully get the hns plugin working on Windows 10 with the following steps:

* install go (https://golang.org/doc/install)
* clone this repo
* compile executable
[code]
* add kubectl-hns.exe to a $PATH directory
* update kubectl plugin list
[code]

[2021-06-07 13:19] adrianludwin commented on #22
Thanks! Are you able to make a PR? We'd want to modify both the Makefile,
the cloudbuild.yaml file, and (I think) the Krew manifest in the hack/
directory to include this.

On Mon, Jun 7, 2021 at 6:35 AM Gary Hodgson ***@***.***>
wrote:

[2021-06-07 14:08] garyhodgson commented on #22
Hi, sorry, I wouldn't know what to put in a PR as I don't have experience with Google Cloud, etc.  My comment was just a drive-by observation as I am evaluating/learning k8s.

[2021-06-07 14:30] adrianludwin commented on #22
Ok thanks Gary. You can feel free to add these instructions to the README
if you like, otherwise we'll just leave it commented here until someone
wants to work on this in the future.

On Mon, Jun 7, 2021 at 10:08 AM Gary Hodgson ***@***.***>
wrote:

[2021-06-07 22:08] rptaylor commented on #46
Hmm I see, where does the default `HNCConfiguration` object come from then, is it created by the controller itself if it does not exist already?

Indeed, appreciated.

Hmm I found other cases of people using kubebuilder (controller-tools) wanting to generate helm charts:
https://github.com/kubernetes-sigs/kubebuilder/issues/388
https://github.com/kubernetes-sigs/kubebuilder/issues/387#issuecomment

[2021-06-08 14:54] adrianludwin commented on #46
Exactly - we report status there, so if the cluster doesn't already have an object we create a blank one. This is the same way we create a `HierarchyConfiguration` object in any namespace with a child, even if the user didn't create one themselves. But this will never overwrite user data.

Yeah, that's what I found too :( Gatekeeper seems to have the only viable solution that I've seen, did you lo

[2021-06-08 19:10] rptaylor commented on #46
Maybe. I had a brief look but I'm not a developer per se and don't know Go, so can't say much about helmify but would be nice if it could be used.

Well you could maintain or produce one version of the chart at a time, but then you would probably put it in a chart repo which can include all the previous charts too, like a yum repo. Setting up a basic chart repo is pretty simple, I just made my own

[2021-06-08 21:43] adrianludwin commented on #46
Ok, I'll mark this as a good issue for new contributors, we've had a few people come through lately with interest in this area (e.g. @RealHarshThakur _might_ be interested).

/good-first-issue

[2021-06-09 14:51] rjbez17 commented on #46
I'm good with this, hopefully we can auto-generate it to reduce the release cycles. We'll need some discussions on how we want to handle versioning of the chart in relation to the images. There are a couple approaches, we just need to pick one.

[2021-06-09 14:58] adrianludwin commented on #46
We don't have anyone signed up to do this work - @rjbez17 , do you know anyone who might be interested?

[2021-06-09 15:01] rjbez17 commented on #46
We have some internal desires for this as well so I can find some cycles for it in the next couple of months after the summer vacation/release rush.

[2021-06-09 15:01] adrianludwin commented on #46
Cool, thanks!

[2021-06-10 15:34] adrianludwin commented on #12
@RealHarshThakur sorry I didn't see this! Yiqi's not working on HNC anymore. Yes, this would be a nice and fairly straightforward change for you to make if you're still interested.

The namespace validators are [here](https://github.com/kubernetes-sigs/hierarchical-namespaces/blob/master/internal/validators/namespace.go). As you can see on [this line](https://github.com/kubernetes-sigs/hierarchica

[2021-06-11 01:22] akazs opened #47 "Propagation of labels and/or annotations"
Hello,

We are adopting HNC to our clusters.
However, we usually use labels to manage some information about our namespaces.
Is there any way we can propagate labels and/or annotations to subnamespaces?
If not, do you plan on implementing such a feature?

[2021-06-11 12:58] juv commented on #47
We were also looking for this feature while considering HNC vs. Kiosk for our multi-tenancy approach. Unfortunately there is no such option in HNC right now.

For me, this one of those features that makes certain usecases, e.g. aggregate costs of tenants with some kind of cost-aggregation-application, monitoring and alerting or even scraping the API server for all resources of a certain tenant, a

[2021-06-11 18:23] adrianludwin commented on #47
We've considered it, but we've been lacking:

1. A solid (set of) use cases
2. A concrete technical proposal
3. Enough people willing to help implement the feature

If both of you (@akazs and @juv) could describe your use cases, that would be very helpful. Technically, this _may_ not be terribly technically difficult but it would be easy to implement the "wrong" API by mistake and have to deprecat

[2021-06-14 20:22] vnzongzna commented on #46
I can work on this. However, I'm new to the project so will need a couple of days to understand different components in the [current manifest generation](https://github.com/kubernetes-sigs/hierarchical-namespaces/blob/master/Makefile#L141-L149).

[2021-06-14 21:34] adrianludwin commented on #46
Thanks @vnzongzna , please go ahead. For the purposes of chart creation, you can probably start at [line 144](https://github.com/kubernetes-sigs/hierarchical-namespaces/blob/3090e7337b3a19e686cbb720f7f560de5473435e/Makefile#L144), since the results of the _earlier_ lines (e.g. the call to `CONTROLLER_GEN`) is all checked into the `/config` directory. So simply inspecting the contents of that direc

[2021-06-15 01:35] akazs commented on #47
We label our namespaces, and use these labels when generating metrics using kubernetes/kube-state-metrics.
This allows us to filter metrics of, say a team, to send alerts or so.
When creating subnamespaces, we would like the same labels to be applied to the newly created subnamespaces.

We don't have a concrete proposal yet, but we consider that [managedFields](https://kubernetes.io/docs/reference

[2021-06-15 02:15] zoetrope commented on #47
I have tried to implement it with Server Side Apply. #48
This will ensure that if you remove a label from a parent, the child labels will be removed properly.

The current implementation does not solve this problem. All labels are propagated.

[2021-06-15 02:41] akazs commented on #47
After some discussion, we figured out that in our use case, we don't necessarily need those labels to be propagated.
If we can put labels onto subnamespaceanchors, and make those labels be on the corresponding namespaces, that would be enough.
This also doesn't require changes to crd definitions.

[2021-06-15 11:43] adrianludwin commented on #47
Thanks for the contribution! But it's quite hard for me to tell what the behaviour of this change is _supposed_ to be, and there aren't any tests that I can use to determine whether I agree with the behaviour (also, tests are critical to ensure that the feature continues to work).

Can you please write a short document that explains exactly what your change is trying to do, as well as what use cas

[2021-06-15 11:56] adrianludwin commented on #47
Ah, I just read the PR and I can see that you're not overwriting any labels with the `hnc.x-k8s.io` prefix, so that will solve this problem. But it's unclear if this rule should be applied to _all_ such labels, and the important problem about how we treat all the non-HNC labels still stands.

[2021-06-16 15:25] adrianludwin commented on #47
Hey @akazs , I was thinking about this and have two quick comments:

If we were to put the labels on the anchors, I think I'd rather modify the CRD (it's pretty easy). The reason is that I like to distinguish between the labels on the _anchors_ (e.g. "this anchor was created by controller XYZ") and the label on the _subns_ (e.g. "this subns can have network connectivity to the Ingress"). Those lab

[2021-06-17 04:58] zoetrope commented on #47
Thank you for comments.

I agree it.
For example, [new PodSecurity Admission](https://github.com/kubernetes/enhancements/tree/master/keps/sig-auth/2579-psp-replacement) will control policies through namespace labels.

For this reason, I think we should propagate root namespace labels to subnamespaces to apply the policy.

I will try it.

[2021-06-17 12:51] adrianludwin commented on #47
Thanks @zoetrope !

[2021-06-18 00:26] vikas027 opened #49 "HNC: TLS handshake error from X.X.X.X:YYYY: EOF"
## Environment
- EKS v1.20.6
- HNC 0.8.0

## Problem
HNC controller pod (`hnc-controller-manager-xxxxxx`) is working fine but is throwing a lot of these errors.
[code]

## Similar Issues
- https://github.com/kubernetes-sigs/multi-tenancy/issues/1255

[2021-06-18 00:42] adrianludwin commented on #49
Thanks @vikas027 . Turning these into human-readable dates, I get:
[code]

So maybe about one or two events an hour, with each "event" sometimes showing a couple of messages.

Is this correlated to any other event with HNC? E.g. the pod restarting or anything?

The "EOF" got me suspicious that a connection was just getting dropped, and I found [this SO comment](https://stackoverflow.com/questions/

[2021-06-18 18:00] adrianludwin commented on #21
@DWSR this is the new location for this issue

[2021-06-21 18:19] RealHarshThakur commented on #12
@adrianludwin Thanks for the reply. Just to be sure:  I  just need to add a check [here](https://github.com/kubernetes-sigs/hierarchical-namespaces/blob/master/internal/validators/namespace.go#L88) and deny all requests trying to modify the tree labels on a namespace, right?

[2021-06-24 14:44] adrianludwin commented on #12
Yes, that's roughly the right place. We also need to check Create operations as well since we don't want someone creating a namespace with the (wrong) labels on them.

We also try not to reject changes that don't contain _new_ problems. E.g. if the namespace _already_ has the wrong label, we shouldn't reject the _new_ change that might be unrelated. Check out [this line](https://github.com/kuberne

[2021-06-24 23:07] vikas027 commented on #49
Hey @adrianludwin ,
I am using Bottlerocket as EKS worker nodes where things are pretty locked down and have been optimized to run Kubernetes workloads. I have a lot of applications running and I am not seeing such errors anywhere else, not sure if this an EKS issue.

Is there a way to increase the verbosity (debug) of the HNC logs?

[2021-06-25 00:42] adrianludwin commented on #49
Hmm, no idea. I take it the problem persists?

Can you attach logs (double-check there's no information in there that you don't mind leaking, e.g. namespace names, or just rename them all to "ns1," "ns2" etc) as well as the YAML of the pod? Also, if you could figure out what's at the IP address that's mentioned in the error, that would also be helpful. It seems to be oscillating between two IP add

[2021-06-28 01:58] vikas027 commented on #49
Hello @adrianludwin ,
I have further digged into those IPs, those are from the default `kubernetes` endpoint which kubernetes creates in the `default` namespace. Please note, I have two clusters behaving exactly and none of them has no workloads running in the `default` namespace.

Not sure where else can I look at :)

[code]

Here are some recent logs
[code]

And here is the my pod configuration

[2021-06-28 04:05] adrianludwin commented on #49
Interesting. I'm not sure what those endpoints are, I'll see if I can find
out.

Those are the *complete* (not filtered) logs from those times? That is,
there are no other messages from the pod in that period? Just want to make
sure there are no restart events that we're missing.

Can you add the Status from your pod? I only see the spec. Also, the
complete yaml for the Services and Endpoints in t

[2021-06-28 04:26] vikas027 commented on #49
Yes, those are unfiltered logs. No other logs in that period.

complete yaml for the Services and Endpoints in the hnc-system namespace

[code]

[2021-07-01 15:50] just1900 opened #53 "Unable to update propagated CRD object"
I'm trying to use HNC to propagate CRD, but I find it does not sync the change I made to the source resource. And below is the event output via `kubectl hns describe monitor-res`, the message seems like hnc are updating resource without specifying `metadata.resourceVersion` ?
[code]
any help would be appreciated.

[2021-07-04 08:04] xinydev commented on #26
I think this issue can be closed because there is no call to the function `TearDownHNC ` anymore.

[2021-07-05 14:25] adrianludwin commented on #26
If that's the case we should delete the function :) Would you like to do the honours?

[2021-07-05 15:15] adrianludwin commented on #53
We are indeed [clearing out most of the metadata](https://github.com/kubernetes-sigs/hierarchical-namespaces/blob/e20f5a832e3a6ce8b92bf3a6efed295abfebe589/internal/object/object.go#L27). It looks like for many core types, this works fine, but for CRDs, this may fail for updates (see e.g. https://github.com/kubernetes/kubernetes/issues/70674).

I think that in [writeObject](https://github.com/kuber

[2021-07-05 15:16] adrianludwin commented on #53
This seems like an important enough flaw that we should fix it in the next release.

[2021-07-05 15:28] #21 closed

[2021-07-05 15:40] RealHarshThakur commented on #53
Might be able to try it on the weekend. Is there a release cadence being followed?

[2021-07-05 16:23] adrianludwin commented on #53
No release cadence, we've generally released once we think we have enough
new features (less and less relevant these days as we reduce the rate of
new feature development) or bug fixes. Last summer it was pretty fast,
these days it's generally every few months.

On Mon, Jul 5, 2021 at 11:40 AM Harsh Thakur ***@***.***>
wrote:

[2021-07-06 00:31] xinydev commented on #26
Sure, 😊

[2021-07-06 06:21] just1900 commented on #53
@adrianludwin Thanks for point out the differnce between crd and core resource, it behaves normally when propagating cores resources like secret which confuse me a lot.
Actually, I've tried with resourceVersion, but it turns out if I update the instance with resourceVersion, webhook will reject the update request.

[2021-07-06 13:14] #26 closed

[2021-07-06 13:16] adrianludwin commented on #53
@just1900 Yeah I didn't realize CRDs and core resources behaved differently (obviously - otherwise we would have tested both!). Also, apparently it's not exactly "CRD vs core resource" - it's "old resource types" (e.g. Deployments) vs "new resource types," one of which is custom resources. So there will be builtin types that have the save `resourceVersion` behaviour as CRs. Apparently. I haven't v

[2021-07-06 13:20] mutescent commented on #47
I agree with this comment. However I sort of think that there would be some needs of propagation of annotations as well. For instance, my team is adopting [PodNodeSelector Admission Controller](https://kubernetes.io/docs/reference/access-authn-authz/admission-controllers/#podnodeselector) to make some resources be bound to specific nodes which are labeled. And this requires an annotation on namesp

[2021-07-06 13:31] adrianludwin commented on #47
Hey @mutescent , what do you think of the proposal in [this comment](https://github.com/kubernetes-sigs/hierarchical-namespaces/issues/47#issuecomment-859761303)? This is my preferred approach, but because we have so few use cases that have been written down it's very hard to know what's the right thing to do. Note that while I often say "labels," I always mean "labels and annotations" - they're e

[2021-07-06 14:06] #25 closed

[2021-07-06 15:45] just1900 commented on #53
@adrianludwin aha, I guess I have misconfigured the SA when debugging locally, so the update request was rejected.
[code]
I retried the piece of code above to update with resourceversion, and it worked.

[2021-07-06 16:39] adrianludwin commented on #53
A PR would be great, thanks! Just a few quick pointers / requests:

* A change like this benefits from a _lot_ of comments, e.g. linking to this issue. Otherwise we'll have no idea why we added this in a few months.
* It would be great if you could add or update a unit test to verify that the rV is being copied (e.g. [here](https://github.com/kubernetes-sigs/hierarchical-namespaces/blob/42769da7fc

[2021-07-07 02:11] mutescent commented on #47
@adrianludwin [The mentioned comment](https://github.com/kubernetes-sigs/hierarchical-namespaces/issues/47#issuecomment-859761303) is reasonable, because it looks simple for users and also it provides the same way to other resources.

I can give it a go. But it could take longer time than you are expecting, since I need to look into codes thoroughly 😢

[2021-07-07 02:57] adrianludwin commented on #47
Thanks! It would be really helpful if you could tell us more about your usecase though, e.g. answer some of the questions I asked in my last comment. You could answer them here or maybe in a Google Doc, whichever works for you.

No rush :) And Ryan and I can help you out. Ping me on slack.k8s.io if you want to talk (I'm `@Adrian Ludwin`, you can find me on `#wg-multitenancy`).

[2021-07-07 15:07] #22 closed

[2021-07-09 08:15] just1900 opened #60 "[Feature] Adding liveness and readiness probe"
for now there is no healthz check, we should add liveness and readines probe for hnc.

[2021-07-12 13:20] mutescent commented on #47
Hi all. Here is the Google doc link: https://bit.ly/2Vpy136 . I am not sure if this is enough or not. Thanks for helping me in advance!

[2021-07-14 02:30] zoetrope commented on #47
@mutescent
Thanks for the great documentation.
These use cases match mine perfectly.

@adrianludwin
My colleague is developing another namespace controller.
https://github.com/cybozu-go/innu/blob/main/docs/design.md

This controller is able to propagate labels and annotations.
You can refer to it.

[2021-07-16 12:48] #53 closed

[2021-07-30 14:39] twendt opened #64 "Cannot create namespace"
We are currently testing with a build from the master branch.

We are not able to create a namespace outside of hnc anymore:

[code]

We also have an issue with the new feature about the include-namespace label. We are using Azure Kubernetes Service and there it sometimes happens that Azure creates a new namespace in the cluster. This for instance happens when the Azure Policy for AKS addon is bei

[2021-08-02 10:17] micnncim opened #65 "Connection refused by tls: bad certificate"
## Environment

Installed HNC with GKE Config Sync (`v1.8.1`):

[code]

[code]

[code]

## Issue

Ran into the issue where the certs for the ValidatingWebhooks are invalid:

[code]

Due to this, I can't create any kind of custom resource either by Config Sync or from local.

I tried the following things but nothing worked:

- Disabled HNC, deleted all the CRDs, and then reinstalled HNC
- Deleted t

[2021-08-03 10:46] and-1 opened #66 "Add ability to exclude object from propagation based on a common label (fix configmap propagation with Istio)"
I work with hnc and use configmap propagation to child namespace. When i use hnc in cluster with installed istio, i experience with issue:
`{"level":"info","ts":1627985932.269383,"logger":"validators.Hierarchy","msg":"Denied","ns":"test","op":"CREATE","user":"system:serviceaccount:operators:shell-operator","code":409,"reason":"Conflict","message":"Cannot update hierarchy because it would overwrite

[2021-08-03 13:52] adrianludwin commented on #66
That's interesting, I didn't know about this use case. Thanks for submitting it.

You suggested excluding objects based on labels. Does Istio apply a common label to all objects that it creates? If so, I agree that this would be the best option. If not, we could go with names. Do you have the ability to create a PR?

I think this would be a safe addition to make because to exclude an object from p

[2021-08-03 13:53] adrianludwin commented on #66
/good-first-issue

[2021-08-03 14:25] adrianludwin commented on #64
Do you have the mutating admission webhook set up correctly, e.g. did you use the latest HNC manifests to install HNC? The mutating webhook should add `hnc.x-k8s.io/included-namespaces = true` to _all_ namespaces, including the ones that are created via `kubectl create ns`.

[2021-08-03 14:42] adrianludwin commented on #65
Hmm, did you manually add that `patches:` field in the `ConfigManagement` object? That generally shouldn't be required for things to work correctly. Nothing jumps out at me as being _wrong_ in there, but I'm not sure why you've got it.

`kube-rbac-proxy` only protects the metric server (and we're removing it entirely in the next release) so it shouldn't get in the way of regular webhook traffic. S

[2021-08-03 15:22] twendt commented on #64
@adrianludwin Thank you very much. We simply replaced the image of the hnc manager. I now added the mutating webhook configuration and now it works as designed.

[2021-08-03 15:24] adrianludwin commented on #64
Great, glad to hear!

/close

[2021-08-03 15:24] #64 closed

[2021-08-05 11:27] micnncim commented on #65
Thank you for your answer. We've confirmed the root cause HNC didn't work was that the webhook port change in Config Sync `1.8.0`.

https://cloud.google.com/anthos-config-management/docs/release-notes#June_24_2021

Our patch `--webhook-server-port=9443` was necessary for older versions but didn't work by the change of the default port. HNC is now working as expected.

[2021-08-05 12:30] adrianludwin commented on #65
Ah, I missed that. Glad to hear you found the cause.

/close

[2021-08-05 12:30] #65 closed

[2021-08-11 11:08] hferentschik commented on #16
/remove-lifecycle stale

[2021-08-13 03:57] micnncim commented on #49
I ran into the same issue and have fixed it by increasing the resources as it didn't have enough capacity.

[code]

[2021-08-13 09:10] hferentschik opened #68 "Add health and readiness checks to hnc-controller-manager"
I am working on a project where we use HNC as a sub-component. The project ships and installs via Helm. For now, we create our own HNC Helm chart from the provided resources and use this Helm chart as a dependency for our project.

The validating webhook causes us some grief, especially since version 0.8.0 (maybe some code changes increased startup-time of the webhook service in the manager). The

[2021-08-16 13:43] adrianludwin commented on #68
This sounds like a useful and sensible change to make, thanks! Please ping
us when controller-runtime 0.10 is out if we forget.

On Fri, Aug 13, 2021 at 5:10 AM Hardy Ferentschik ***@***.***>
wrote:

[2021-08-16 13:55] adrianludwin commented on #49
Oh thanks @micnncim that's interesting and I hadn't considered that!

[2021-08-23 14:13] adrianludwin commented on #47
Thanks all. I'm not sure when we'll get time to implement but I'm feeling like we have a fairly good direction now at least.

[2021-08-26 20:14] adrianludwin opened #74 "Update Krew plugin to point to the new repo"
https://krew.sigs.k8s.io/plugins/ still points to the old repo.

/good-first-issue

[2021-08-26 21:41] rayterrill opened #75 "HNC Controller is reporting "Operation cannot be fulfilled on hncconfigurations.hnc.x-k8s.io "config": the object has been modified""
HNC Controller throws periodic errors:
[code]

[code]

[2021-08-27 16:47] seankhliao opened #76 "Failed to export to Stackdriver code = PermissionDenied"
We're running hnc on GKE with Workload Identity turned on, which results in Stackdriver logging an error every minute.
I believe this is due to the exporter being able to find GCP credentials so it's enabled even though it has insufficient privileges (also why it doesn't show up in kind).

I'd like a flag to disable the stackdriver exporter.

[code]

[2021-08-27 18:17] #74 closed, assigned to siwet

[2021-08-27 20:04] #76 closed, assigned to nobody

[2021-08-30 22:03] rayterrill commented on #75
@adrianludwin It looks like we actually need to not propagate a label, not an annotation. Will the --unpropagated-annotations allow for removing labels? Or is there another way to do that?

[2021-08-30 22:40] rayterrill commented on #75
I did build up a dev environment with Argo + HNC v0.8.0 and I see the same errors:
[code]

[2021-09-10 12:44] olljanat opened #79 "How handle duplicate DNS names on shared environment with CoreDNS?"
HNC looks like very good solutions for adding extra abstraction layer to more easily define different environments for different purposes. However after playing for a while with it I ended up to thinking that what is best way to handled DNS records on case where multiple copies of same service run on same cluster?

Example if I would have simple setup like this which contains separate dev and prod

[2021-09-12 10:49] olljanat commented on #79
It looks to be that CoreDNS [rewrite plugin](https://coredns.io/plugins/rewrite/) most probably can be used to remove those `dev-` / `prod-` prefixes from `dev.local` / `prod.local` DNS domains but those DNS domains still need to be added to pods `searches` list ( https://kubernetes.io/docs/concepts/services-networking/dns-pod-service/#pod-dns-config ) and currently it is needed to be done separat

[2021-09-12 21:08] adrianludwin commented on #79
I'm afraid I'm not an expert in CoreDNS. Is it possible to configure CoreDNS from a K8s controller (like HNC)? HNC isn't popular enough for CoreDNS to try to support it, but CoreDNS is certainly popular enough that HNC could try to configure it!

[2021-09-12 23:21] rjbez17 commented on #46
/remove-lifecycle stale

[2021-09-13 10:13] olljanat commented on #79
CoreDNS part looks to be working rewrite policy like this:
[code]
then names like `<service name>.app1-backend.dev.local` starts working.

And it should be possible (have not tested yet) to update pods DNS search list using [Kyverno](https://kyverno.io) policy like this:
[code]

which makes `<service name>.app1-backend` working.

So it looks that I have solution to my use case but is this somethin

[2021-09-14 21:57] joe2far commented on #66
the `istio-ca-root-cert` does have a specific isitio.io/config label which could be used to exclude it
[code]
however the same issue holds, for the kubernetes created kube-root-ca.crt which does not have a label to easily exclude it on
[code]
given above I would prefer to have solution to exclude based upon specific resource names, this would solve both of the above examples and would follow a sim

[2021-09-16 05:28] minchao commented on #75
The problem is because Argo CD adds the `app.kubernetes.io/instance` label and uses it to determine which resources form the app.

A workaround is to add ignore annotation to resources so that these resource objects and propagated copies will be excluded from Argo CD sync (This only affects the sync status).

[code]

References:

- [Why Is My App Out Of Sync Even After Syncing?](https://argo-cd.re

[2021-09-16 18:14] rayterrill commented on #75
Yep - this is exactly what we did to stop that issue, @minchao. :)

[2021-09-20 14:19] adrianludwin commented on #66
Hey @joe2far sorry I didn't respond earlier but I've been on vacation since Labour Day.

Two quick questions. It looks like `kube-root-ca.crt` is now a built-in part of K8s, so I actually wouldn't mind hardcoding that into HNC, just like we've hardcoded in an exception for service account secrets. Otherwise every HNC user will need to set this up manually.

I'd _also_ be willing to hardcode the Is

[2021-09-20 16:08] adrianludwin commented on #75
@rayterrill sorry, are you saying that with the `IgnoreExtraneous` option, you're not seeing the errors in the logs anymore? Or just that it solved some other problem?

`--unpropagated-annotations` _only_ works for annotations, but it would be fairly trivial to extend it to cover labels as well (i.e. add an `--unpropagated-labels` flag). That would allow you to not have to change the Argo config.

[2021-09-20 16:11] adrianludwin commented on #75
I'm also a bit confused as to what the problem was. The log errors were referring to problems with `HNCConfiguration`, but you mentioned problems with role bindings, not the HNC config. Was Argo _also_ trying to continuously re-sync `HNCConfiguration`?

[2021-09-20 16:21] adrianludwin commented on #79
Sorry for the delay, I was on vacation for two weeks.

It would be awesome if you could contribute some documentation, maybe [here](https://github.com/kubernetes-sigs/hierarchical-namespaces/blob/master/docs/user-guide/best-practices.md)? Feel free to keep it short and even refer back to this issue if you like to save yourself some work, as long as this issue is easy to find, I think that's the mo

[2021-09-20 22:54] joe2far commented on #66
I have updated the PR - https://github.com/kubernetes-sigs/hierarchical-namespaces/pull/81 to just contain the hardcodings for now

[2021-09-21 02:13] adrianludwin opened #82 "Don't throw away errors from ShouldPropagate"
See [comment](https://github.com/kubernetes-sigs/hierarchical-namespaces/pull/80#discussion_r712641064). We're discarding errors but we shouldn't be; they should be <strike>propagated upwards like any other error or at _least_ </strike> logged as an error **(Update Sep 25 - we should log them, see discussion below)**.

/cc @joe2far

[2021-09-21 02:14] adrianludwin commented on #82
/good-first-issue

[2021-09-21 21:37] yashvardhan-kukreja commented on #82
/assign

[2021-09-21 22:01] yashvardhan-kukreja commented on #82
Hi @adrianludwin 👋🏼
At the time of error, should I proceed towards just logging the error and letting the loop iterate further, or should I actually, break the loop right away by returning the error hence, making it propagate upwards in the call stack?

I prefer the latter one but as I am new, I might be missing something so I'd love to hear your suggestion :)

[2021-09-21 22:20] yashvardhan-kukreja commented on #68
Hi @adrianludwin  and @hferentschik 👋🏼
I guess we need not necessarily wait for upstream controller-runtime for exposing a healthz endpoint and configuring liveness and readyness probes over hnc.

I just hovered over the code and found that it would be a pretty small addition, somewhere on the lines of:
- In the `cmd/manager/main.go`, somewhere I can get the WebhookServer with `mgr.GetWebhookServe

[2021-09-22 12:22] #66 closed

[2021-09-22 12:58] SydMusavi commented on #46
I can work on this if it's not assigned to anybody @adrianludwin

[2021-09-22 13:57] adrianludwin commented on #46
Thanks! Can you coordinate with @hutchic to see if he's still involved? Maybe you can start with his work in #62 and create your own PR based off of that?

[2021-09-22 16:40] rayterrill commented on #75
Sorry all - I blurred multiple problems here.

This initial request was created because of the HNCConfiguration issue - "Operation cannot be fulfilled on hncconfigurations.hnc.x-k8s.io "config": the object has been modified; please apply your changes to the latest version and try again". After upgrading to v0.8.0, we are indeed still seeing this periodically.

We're wondering if this is just somet

[2021-09-23 13:42] adrianludwin commented on #75
It _can_ be ignored - that's the great thing about these controllers, they're pretty robust to failures. With that said, I'd kind of like to understand why it's happening in the first place. Learning that Argo was occasionally writing the HNCConfiguration object would certainly be an explanation. But it's not serious and can be ignored as long as it only happens from time to time.

lmk if you'd li

[2021-09-23 17:29] rayterrill commented on #75
@adrianludwin Unpropagated labels would be great. That would likely help with our argo case as well.

Is there anything we can do to get more detail on and troubleshoot why the HNCConfiguration issue is happening? Any debug logging or anything like that? I'm happy to help dig into it - just not totally sure where to start.

[2021-09-24 13:48] hferentschik commented on #68
Sure, this was just a suggestion. I am also not so familiar with the codebase, so I was not aware of whether there are other options. I only knew that the operator sdk did not offer this (a shortcoming I ran into myself before) and that there is an open issue for that on the operator sdk side.

What you are describing makes sense. It probably is a step forward either way. What I am wondering is ab

[2021-09-25 05:16] yashvardhan-kukreja commented on #68
That's a good question. I feel that the check you are describing is more of a synthetic monitoring check rather than a static health check. So, I don't see a straightforward way to have such a health-check to ensure both that the webhook server is running AND it is successfully accepting the admission requests it is supposed to accept. Nonetheless, I am not at all denying the use of it :)
Yet, I b

[2021-09-25 23:49] adrianludwin commented on #82
Ok I had a look and I can see why we're not propagating these up. The scenario where you could get an error is:
* Someone puts a bad selector on an object. This should never happen, but let's say there was a bug and one got in.
  * This selector is basically now ignored
* Someone tries to validate another change that _might_ affect this object (or one of its propagated copies). We call `ShouldProp

[2021-09-25 23:58] adrianludwin commented on #68
So it turns out that controller-runtime 0.10.1 is already out, so I'd be in favour of just updating and getting it for free :) Why don't I quickly do that.

Well. I'm not _actually_ sure if you get it for free, e.g. I don't know if there's someone we need to do to take advantage of this new feature. But that still seems easier than building it from scratch.

wdyt?

[2021-09-26 01:22] adrianludwin commented on #68
I'm working on https://github.com/kubernetes-sigs/hierarchical-namespaces/pull/84 to upgrade to controller-runtime 1.10 but it's blocked on another change. Hopefully it'll be unblocked soon.

[2021-09-26 03:37] adrianludwin commented on #68
Ok #84 is merged, so we're on controller-runtime 0.10.1 now. What else do we need to do to make this work?

[2021-09-29 13:10] ledroide opened #86 "HNC under Kubernetes 1.22 : "error resolving resource""
After upgrading a cluster from Kubernetes 1.21.5 to 1.22.2,
* quotas can't be updated or created, namespaces can't be deleted, garbage collector fails to finalize resources.
* hnc doesn't know its own resources

[code]

I have removed all HNC resources including CRD, as explained in [#1255] (https://github.com/kubernetes-sigs/multi-tenancy/issues/1255#issuecomment-726771166), then checked the effe

[2021-09-29 19:50] adrianludwin commented on #86
What flavour of K8s is this - e.g. managed (GKE, EKS, etc) or self-hosted (e.g. VMWare etc)?

This error message looks pretty suspicious to me:
[code]
That error's coming directly from the K8s apiserver, not from HNC. There shouldn't be any way for us to cause an internal error in the server. This sounds like a bug for K8s itself.

One question - if you fully uninstall HNC (again), do all the othe

[2021-09-30 05:53] ledroide commented on #86
Hello @adrianludwin
Additional info :
* on premise installation, CentOS stream, 4 clusters, mix VM and bare metal
* the problem with quotas and namespace relates to the kube-controller-manager that is disturbed by hnc controller, as explained in issues [#98071](https://github.com/kubernetes/kubernetes/issues/98071) and [#12](https://github.com/kubernetes-sigs/multi-tenancy/issues/12),confirmed by

[2021-09-30 10:12] santinoncs commented on #46
I created this to use by our company as we are always using helm
https://github.com/softonic/hierarchical-namespace-controller

[2021-09-30 12:17] santinoncs opened #87 "HNC: excluded-namespace and included-namespace"
Hi,

I want to use HNC but only in a few specific namespaces.  Because of that, it is far more difficult to exclude-namespaces and include few than the other way.
Also it would be great if you can use regexp
Do you think is feasible ? it makes sense?
this would be like

        - args:
          - --webhook-server-port=9443
          - --metrics-addr=:8080
          - --max-reconciles=10

[2021-09-30 12:51] adrianludwin commented on #87
Can you explain what you mean by "use HNC... in a few specific namespaces?"
By and large, if you don't put any HNC configs into a namespace, HNC will
ignore it, *unless* something goes terribly wrong with HNC.
--exclude-namespaces exists to protect the most critical namespaces on your
cluster from HNC going nuts; it's not really a user-visible feature, so
much as it's a way to make sure that no ma

[2021-09-30 13:14] santinoncs commented on #87
Problem is , the controller pod was not running and this was the cause that all the operation of Create and Delete were not working

If I could prevent this to happen in the most of the namespaces, that would be great.

this is why i wanted this in the first place.

Thanks a lot for your rapid response. I will take a look at your approach.

[2021-09-30 13:26] adrianludwin commented on #87
Great, thanks!

On Thu, Sep 30, 2021 at 9:14 AM Santiago Nuñez-Cacho <
***@***.***> wrote:

[2021-10-01 23:03] #6 closed

[2021-10-01 23:03] #7 closed

[2021-10-02 19:09] #11 closed

[2021-10-02 19:09] #13 closed

[2021-10-02 19:09] #14 closed

[2021-10-02 19:09] #19 closed

[2021-10-03 14:19] #17 closed

[2021-10-03 14:19] #18 closed

[2021-10-03 14:19] #23 closed

[2021-10-03 14:19] #24 closed

[2021-10-03 14:19] #27 closed

[2021-10-03 18:20] #32 closed

[2021-10-04 12:58] santinoncs commented on #87
some insights about the implementation:

* As for now the operator will treat as included everything that is not in the --exclude-namespaces list

What will happen if we use --included-namespaces?

should from now on treat as included just the namespaces that are in that list and excluded the ones that are in the excluded list?

[2021-10-04 13:52] adrianludwin commented on #87
I think the most typical way to combine "included" and "excluded" options are: "everything in 'included', unless also in 'excluded'." That lets you do things like:

[code]

That is, include every namespace that starts with `test` _other_ than `test-system`.

[2021-10-04 14:15] adrianludwin commented on #87
The regex to exclude system namespaces would be... unfortunate. Technically it's possible but I think it would be sufficiently hard to use that I'd rather keep `--excluded-namespace` the way it is.

[2021-10-07 14:32] adrianludwin commented on #75
Sorry, fell behind on my HNC work, lots of stuff going on these days plus I was off half of September...

The most important thing to know is if any _other_ system is writing the HNCConfiguration object. E.g. do you have Argo configured to write it? If so, these kinds of errors are expected and also harmless as long as they're relatively rare.

Failing that, if you're comfortable modifying HNC you

[2021-10-08 13:16] shivamverma182 opened #90 "Subnamespace Labels are missing when listed as namespace"
We are thinking of adopting HNC in our kubernetes clusters. While playing around the namespaces and subnamespaces. I found when you set some labels on subnamespaces, these labels are available when you read those subnamespaces as subnamespaces(kubectl get subns -n parent-ns --show-labels). But when you read subnamespaces as actual namespaces(kubectl get ns child-ns --show-labels), the labels are m

[2021-10-08 13:39] adrianludwin commented on #90
Hey @shivamverma182. The "subnamespace" object is actually a SubnamespaceAnchor object - that it, it's an object that _represents_ the namespace, but it's not a namespace itself. So labels that you put on the subns are not propagated to the namespace or vice versa; this is expected.

This is the same as a Deployment object vs a Pod from that deployment. If you put a label on the Deployment, it is

[2021-10-12 19:51] adrianludwin commented on #46
No worries, thanks! Can you let us know what the direction was? E.g. are
you still using HNC but deploying it differently, or did you pick some
other solution?

On Tue, Oct 12, 2021 at 3:44 PM Colin Hutchinson ***@***.***>
wrote:

[2021-10-14 19:33] adrianludwin commented on #86
Hey sorry for the delay @ledroide. Just another question - you say you can easily reproduce the problem with 1.22, what are the steps to doing this? E.g. if you have have some script that you could run that would cause this problem, that would be great and I could try it out.

[2021-10-15 08:07] ledroide commented on #86
HNC was running fine with Kubernetes 1.21.5. We have upgraded our clusters to Kubernetes 1.22.2 (using standard kubespray - which relies on kubeadm and ansible).

We immediately noticed a weird behavior with resources finalizers, at first regarding namespaces deletion and quotas usage - as described here above.

[2021-10-19 10:22] ichmachnixichgucknur opened #104 "Let HNC disable propagation Rancher-propagated objects"
Hi,
I am new to the HNC and wondering how to disable the default resources (roles and rolebinding)?
I'd like to use the HNC just to propagate networkpolicies and resource limits to the child namespaces.

[2021-10-19 10:29] ichmachnixichgucknur opened #105 "How to have configs from the parent and custom?"
Hi,
is there a way to have a (for ex.) networkpolicy managed by a parent ns / hnc and to have custom ones on the child?
I undestand, that if the hnc is running in propagate mode, it deletes all the configurations of the same resource-type on the child ns. So that would not work?

[2021-10-19 13:07] adrianludwin commented on #86
Thanks @ledroide . Sorry this took so long to resolve, but I'm glad it's working now. I'll be releasing v0.9 soon (this week, hopefully) and this will be fixed in that version.

I'll keep this bug open as a reminder to file a bug against K8s (it's not good that a config this simple can crash the apiserver).

[2021-10-19 13:37] ichmachnixichgucknur commented on #105
yes, great!
Thank you.

[2021-10-19 13:37] #105 closed, assigned to nobody

[2021-10-19 13:45] ichmachnixichgucknur commented on #104
We are using Rancher. Rancher does his own magic on permissions, roles etc. .
I tried some stuff with the HNC and it fits perfectly to distribute networkpolicies and resource limits, but we get into problems with roles and rolebindings. So if I could disable the defaults, that would be really great.
I am not a go dev - but if you are willing to guide me ... I can try to.

[2021-10-19 14:14] ichmachnixichgucknur commented on #104
yes, exactly. Rancher is organized in projects and projects inherit namespaces. that's just done using annotations. permissions are set on the projects and applied by rancher to the namespaces.
this leads to some rolebindings that are the same all over the clusters.

using the HNC I get these errors, because it wants to delete an account that is created by rancher:
`{"level":"info","ts":1634650448

[2021-10-20 07:03] ichmachnixichgucknur commented on #104
We will try and come back to you.

[2021-10-21 05:53] ichmachnixichgucknur commented on #104
Yes, I did not find the right part to do it. The easiest would be to deploy a hnc configuration including this types if no config exists.

Correct.

Do we have two issues here? One thing is to be more flexible having the roles and rolebindings as flexible as the other resources are. That would work with the changes we did, currently missing the default role and rolebinding (so that tests will run,

[2021-10-29 19:52] #41 closed

[2021-11-04 16:07] haarchri commented on #46
in other communities the workflow is to create a seperate community repo to maintain the helm-chart - is this a option here ?

[2021-11-04 16:25] adrianludwin commented on #46
The main thing I'm worried about is keeping it up-to-date. It'll be a bunch
of manual work every release and I'm not too confident that people will
commit to doing it.

Would a kpt package (https://kpt.dev/) be a feasible option? Those don't
rely on templates AIUI so are *much* easier for the authors to maintain.

On Thu, Nov 4, 2021 at 12:07 PM Christopher Haar ***@***.***>
wrote:

[2021-11-10 15:25] bgrant0607 commented on #47
Two example use cases:
1. Gatekeeper namespaceSelector labels: https://open-policy-agent.github.io/gatekeeper/website/docs/howto#constraints
2. Istio sidecar injection label: https://istio.io/latest/docs/setup/additional-setup/sidecar-injection/#controlling-the-injection-policy

[2021-11-11 12:25] rahulii commented on #12
@adrianludwin If its still needed, I can take this up! Could you point me to the updated place where we need to make a change, the above comments seem outdated

[2021-11-12 15:21] #15 closed

[2021-11-17 14:52] sathieu opened #110 "Allow namespaceSelector and selector for resource propagation"
Currently when a resource type is propagated, it's possible to limit this propagation from the resource itself with the `propagate.hnc.x-k8s.io/{select,treeSelect,none}` annotations, i.e to opt-out.

It would be great to also allow to select parent resources with selector, i.e to opt-in:

[code]

[2021-11-17 14:54] sathieu commented on #46
@adrianludwin What about generating the manifests from helm? It ensures they are kept in sync.

[2021-11-19 08:56] hferentschik commented on #16
/remove-lifecycle stale

[2021-11-19 08:56] hferentschik commented on #20
/remove-lifecycle stale

[2021-11-24 19:10] mgoltzsche commented on #68
After enabling the readiness/liveness probe endpoint within the `cmd/manager/main.go`, you could declare the corresponding readiness/liveness probes within the `Deployment` at `config/manager/manager.yaml`.
However, please note that this might conflict with the leader election mechanism during updates: when an update is complete only if the readiness probe becomes complete when the leader has been

[2021-11-30 03:39] niontive commented on #46
If this isn't assigned to anyone, I can work on this. I'm a new Kubernetes contributor.

To summarize the remaining work, we need to:

1. Finish creating the helm chart. [This PR](https://github.com/kubernetes-sigs/hierarchical-namespaces/pull/62) is the initial implementation.
2. Implement a solution for keeping the chart up-to-date with changes in the `config` directory

[2021-12-05 21:28] #58 closed

[2021-12-06 09:30] #60 closed

[2021-12-09 20:51] gkarthiks opened #112 "Should "kubectl hns describe" describe the "default" namespace"
While doing the `kubectl hns describe` command, it expects 1 argument (which is the name of the namespace) and throws the following error.

[code]

 Considering the rest of the `kubectl` commands, should we default the command to describe the "default" namespace?

[2021-12-18 07:28] onesail opened #113 "darwin_arm64 native support for kubectl plugin"
for darwin only amd64 is listed as HNC-platform.
with apple silicon being the only cpu available on mabooks in the long run native support is required

[2021-12-20 11:30] #87 closed

[2021-12-20 12:00] santinoncs opened #114 "not propagating secrets of type "kubernetes.io/service-account-token""
Hi,

I am noticing that when propagating secrets and serviceaccounts

[code]

the secrets of type kubernetes.io/service-account-token
are not being propagated

You can see that there are 21 secrets and it is only propagating 14

These 7 left are the tokens of the serviceaccounts

is that right?

[2021-12-21 23:01] gkarthiks opened #115 "Metrics svc port mismatch on the release/installation file"
The target port on the metrics service should be `8080` or `metrics` instead of `https` as shown below.

[code]

Since the k8s manifest has the `targetPort: https` the metrics are not scraped by the Prometheus as there isn't any port on that name specified in the service.

[2021-12-23 21:18] #115 closed

[2021-12-25 11:14] snagasawa opened #117 "How to create a nested subnamespace without failure?"
Hi,

I want to create nested subnamespace.
The following is sample manifest.

[code]

[code]

However, it always fails the first time.
[code]

The second time is successful.
[code]

How to avoid failing?

[2022-01-04 13:11] adrianludwin commented on #114
Hi, my apologies, I was on vacation most of December.

You're correct, service account tokens cannot be propagated; this is enforced by Kubernetes and can't be overridden by HNC (see: https://github.com/kubernetes-sigs/hierarchical-namespaces/blob/master/docs/user-guide/concepts.md#built-in-exceptions). Can you describe the use case you're trying to solve by propagating Kubernetes service accounts

[2022-01-05 14:51] adrianludwin commented on #75
Hi @rayterrill please re-open this case if it's still a current issue, thanks!

/close

[2022-01-05 14:51] #75 closed

[2022-01-10 07:11] florath opened #118 "Don't allow dots in sub-namespaces"
Currently (as of version 0.9.0) the command line tool accepts invalid names as sub-namespaces.
Namespaces in general do not allow dots '.' to be included - but HNS allows this but then fails to create the appropriate namespace.

    # kubectl create namespace hns-parent-01
    namespace/hns-parent-01 created
    # kubectl hns create child.01 -n hns-parent-01
    Successfully created "child.01" sub

[2022-01-11 11:31] marandalucas commented on #90
Hello @adrianludwin! We love this project! We are implementing HNC in our cluster, however we have the same issue that @shivamverma182

One of our requirement is add the label ** istio-injection: enabled **. We would like that you reconsider to implement this feature in SubnamespaceAnchor Objects or another way to propagate labels from parents Namespace. (Https://github.com/kubernetes-sigs/hierarc

[2022-01-11 14:13] marandalucas commented on #47
Hello for everyone! We would like to get this funcionality in the future. We are in the same situation like @bgrant0607
Thanks!

[2022-01-12 15:24] adrianludwin commented on #47
I decided to bite the bullet and start implementing this last night. Hopefully I'll have an update within a week or so.

[2022-01-13 03:56] adrianludwin commented on #47
See https://github.com/adrianludwin/hierarchical-namespaces/commit/5b4f12aa24abb1ebbae958868ec86d2147ee85e7 for my initial implementation of this feature, I'll submit a PR once its predecessors have been submitted.

[2022-01-13 15:17] adrianludwin commented on #90
Hey @marandalucas and @shivamverma182 , I'm implementing label propagation in #47. You can't add them in the `SubnamespaceAnchor` yet, but you _can_ add them in the `HierarchyConfiguration` object in the _parent_ namespace which will make it automatically apply to all descendant namespaces.

I'm going to close this bug, can you please comment on #47 to let me know if that would suite your needs or

[2022-01-13 15:17] #90 closed

[2022-01-13 16:52] adrianludwin commented on #118
/good-first-issue

On Mon, Jan 10, 2022 at 2:11 AM Andreas Florath ***@***.***>
wrote:

[2022-01-13 16:54] adrianludwin commented on #118
Good suggestion. For anyone looking to help out, this is basically a request for an additional check in https://github.com/kubernetes-sigs/hierarchical-namespaces/blob/master/internal/anchor/validator.go to ensure that the anchor name is also a legal namespace name.

[2022-01-13 17:06] adrianludwin commented on #118
[Namespace names must be valid DNS labels](https://kubernetes.io/docs/concepts/overview/working-with-objects/namespaces/#namespaces-and-dns), and specifically, it looks like they must be [RFC 1123](https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#dns-label-names) labels since I can create a namespace called `123`.

So you can use the `k8s.io/apimachinery/pkg/util/validation

[2022-01-13 21:07] gkarthiks commented on #118
I would like to take up on this please.

/assign

[2022-01-14 05:30] rahulii commented on #12
/assign

[2022-01-14 10:19] RealHarshThakur commented on #12
@rahulii  I've already made a PR for this : https://github.com/kubernetes-sigs/hierarchical-namespaces/pull/51

[2022-01-14 10:34] rahulii commented on #12
oh damn! you should 've linked your PR to the issue ! I was looking into it since yesterday
 :/

[2022-01-14 11:45] RealHarshThakur commented on #12
Apologies. Hope you find another issue to work on

[2022-01-14 15:18] adrianludwin commented on #117
Sorry for the delay in getting back to you. The basic problem here is that you can't create an object in a namespace until the namespace itself has been created. I _think_ that kubectl is smart enough to know that in a single yaml file, if there's a namespace, it should create that first and then create everything in it, but kubectl doesn't know about HNC. So it creates the anchor in the first nam

[2022-01-14 15:18] #117 closed

[2022-01-14 15:23] adrianludwin commented on #113
Someone's trying to fix this in #111

[2022-01-14 15:29] adrianludwin commented on #46
Hey Nicolas, sorry for the late reply.

It would be great if you wanted to try this out. The hard part is step # 2
- automatically generating the helm changes based on the output of the rest
of the build process (or at _least_ automatically identifying that a change
needs to be made). Otherwise this chart will work for a single release and
will break after that. If you have a solution I'd love to

[2022-01-14 15:31] adrianludwin commented on #20
Hi @hferentschik , I don't think anyone's going to work on this unless there's a design doc that answers the questions I raised earlier on. If you'd like to write such a doc I'd be happy to look at it!

[2022-01-14 17:03] sathieu commented on #46
@adrianludwin As @rptaylor already said, take a look at [helmify](https://github.com/arttor/helmify) to create a helm chart from plain manifests.

[2022-01-14 17:14] adrianludwin commented on #46
I missed that comment about Helmify. Yes, that looks pretty promising so I've be really interested in a PR that used it to generate a chart.

It's fine if there are _some_ manual steps needed to release a new chart, as long as one of the steps isn't "update the chart by hand!" We'd just need to update https://github.com/kubernetes-sigs/hierarchical-namespaces/blob/master/docs/releasing.md to inclu

[2022-01-15 07:35] snagasawa commented on #117
@adrianludwin
Thanks for replying !
I understand the problem and how to solve it.
But, it seems this solution can't allow some developer teams to create namespace themselves without cluster role of namespace.
I hope that it can create subnamespace anchor by manifest in someday.

[2022-01-15 15:29] adrianludwin commented on #117
This is an ongoing problem in Kubernetes - there are legality rules that
require that one object gets created before another, but sometimes those
objects aren't created instantly. Re-applying the manifest in a loop is
usually the recommended solution. I don't really see a better way to solve
this TBH - sorry! Those are just the limits of a controller-loop-based
system like Kubernetes.

On Sat, Jan

[2022-01-16 08:43] gkarthiks commented on #112
I guess that's a valid reasoning/consideration. I agree and will close this issue now.

[2022-01-16 08:43] #112 closed

[2022-01-17 05:37] rahulii commented on #10
@adrianludwin could you give some pointers to get started for this issue? where to look in code for propagated objects?

[2022-01-17 18:40] adrianludwin commented on #10
The validator for propagated objects is https://github.com/kubernetes-sigs/hierarchical-namespaces/blob/master/internal/objects/validator.go.

I just glanced at the code and it looks like we _will_ stop users from modifying any annotation _except_ the annotations that include hnc.x-k8s.io (see [this line](https://github.com/kubernetes-sigs/hierarchical-namespaces/blob/bad9db5b05ab1ed6bcc1cdf75b16e

[2022-01-17 18:40] adrianludwin commented on #10
I updated the title to reflect what I believe the problem actually is.

[2022-01-18 07:35] rahulii commented on #10
/assign

[2022-01-18 08:08] rahulii commented on #10
@adrianludwin Thanks for the brief explanation .I got the problem.
I will start with writing the unit tests!!
I have one qs though:
why does `canonical()` strips out HNC label?
can't we compare the objects without stripping HNC label?

[2022-01-18 17:12] #79 closed

[2022-01-21 16:31] #118 closed

[2022-01-23 22:05] erikgb opened #128 "HierarchyConfiguration labels/annotations should be validated on admission"
A new feature allowing labels/annotations to be configured in `HierarchyConfiguration` was introduced in https://github.com/kubernetes-sigs/hierarchical-namespaces/pull/122. Both labels and annotations have quite strict validation rules in K8s. To avoid this failing on reconcile of namespaces, we should validate the new fields on admission. I think we should add at least the following validations:

[2022-01-24 01:06] adrianludwin opened #130 "Document label and annotation propagation"
Part of #47 . We need docs.

[2022-01-24 14:46] adrianludwin commented on #130
/good-first-issue

[2022-01-24 14:49] adrianludwin opened #131 "gofmt presubmit should be friendlier"
Our presubmit should:
* Tell users to call `make fmt`, not `go fmt` (we don't want to reformat vendor files)
* Print out the diff so users can see what changes to make

[2022-01-24 14:49] adrianludwin commented on #131
/good-first-issue

[2022-01-24 17:18] rahulii commented on #131
Hey @adrianludwin , what could be the right way to start on this?

[2022-01-26 22:00] #10 closed

[2022-01-28 14:41] erikgb opened #135 "Should have more user-friendly options to set managed labels/annotations"
Writing tests for the managed labels/annotations, my feeling is that we should have something a bit more user-friendly to configure managed labels/annotations that (just) regex.

It is recommended, and common, to have prefixed label/annotation keys, and that does not look very nice in regex IMO.

Ref:
Discussed on Slack, maybe add an issue for this? Internally we'll almost certainly stick to regex

[2022-01-28 16:30] #128 closed

[2022-02-01 09:03] arturobrzut opened #140 "Could not update the hierarchical configuration - on Openshift"
Environment Openshift 4.8
HNC v0.9.0

Hi
I install HNC on Openshift cluster 4.8
And I have such issue:
[code]

Can we turn off checking some OCP resource in HNC?

[2022-02-01 14:12] adrianludwin commented on #140
Are you able to add annotations to the RBAC role bindings? If so, you can
use exceptions
<https://github.com/kubernetes-sigs/hierarchical-namespaces/blob/master/docs/user-guide/how-to.md#use-limit-propagation>
to disable annotations for them. Otherwise, is there a systematic way to
identify which objects *shouldn't* be propagated, like a name or a label?
If so, we could add all the necessary OpenS

[2022-02-01 15:38] arturobrzut commented on #140
@adrianludwin
It works when I add annotations in parent namespace resources

but I want to add PR which exclude this 3 RoleBinding
I will prepare it

[2022-02-01 16:08] adrianludwin commented on #140
What's the criteria you'll use to exclude these? Is it a well-known label?
If so, please include documentation here:
https://github.com/kubernetes-sigs/hierarchical-namespaces/blob/master/docs/user-guide/concepts.md#built-in-exceptions

Thanks!

On Tue, Feb 1, 2022 at 10:39 AM Artur Obrzut ***@***.***>
wrote:

[2022-02-01 16:16] arturobrzut commented on #140
Ok I will describe it in doc

https://github.com/kubernetes-sigs/hierarchical-namespaces/blob/master/docs/user-guide/concepts.md#built-in-exceptions

these 3 RoleBindings are always created by Openshift
![image](https://user-images.githubusercontent.com/54812713/152006503-0a9dcf31-2275-4357-bb9c-014dc149e374.png)

[2022-02-01 17:10] adrianludwin commented on #140
This might be the right time to turn this into a CLI since this list keeps
getting longer.

e.g.:
--exclude-propagation-by-name="group/version:Kind:nameregex"
--exclude-propagation-by-label="labelkey:labelvalue"

On Tue, Feb 1, 2022 at 11:19 AM Erik Godding Boye ***@***.***>
wrote:

[2022-02-02 12:08] arturobrzut commented on #140
and now maybe exclude by annotations
e.g.
if openshift annotation exists do not propagate

[2022-02-02 18:23] adrianludwin commented on #104
I believe this was recently fixed.

/close

On Wed, Feb 2, 2022 at 12:51 PM Kubernetes Triage Robot <
***@***.***> wrote:

[2022-02-02 18:23] #104 closed

[2022-02-02 18:37] erikgb commented on #12
Was this issue fully resolved by https://github.com/kubernetes-sigs/hierarchical-namespaces/pull/51, and can be closed, or this there anything remaining?

[2022-02-02 19:12] erikgb commented on #140
As already suggested above, I think it would make more sense to exclude HNC propagation of roles/rolebindings with names that have a `system:` prefix. And not do something tailored for Openshift to resolve this issue. IMO the Kubernetes documentation could be used to support this point of view: https://kubernetes.io/docs/reference/access-authn-authz/rbac/#default-roles-and-role-bindings. The note

[2022-02-02 22:38] erikgb opened #142 "Resources status should be compatible with kstatus"
As a user of tools like [FluxCD](https://github.com/fluxcd/flux2), I would like Flux to know if/when my HNC resources are fully reconciled and operational (ready/healthy). Flux supports [health assessment](https://fluxcd.io/docs/components/kustomize/kustomization/#health-assessment) for all/most in-tree resource types, but it turns out that Flux also can support custom resources - if the resource

[2022-02-03 10:16] RealHarshThakur commented on #12
Yes, I think we can close this issue.

[2022-02-03 13:45] erikgb commented on #12
/close

[2022-02-07 01:30] adrianludwin commented on #12
/close

[2022-02-07 01:30] #12 closed

[2022-02-07 02:09] adrianludwin commented on #142
I _think_ our `Condition` struct is compatible with the standard (see [here](https://github.com/kubernetes-sigs/hierarchical-namespaces/blob/22c4260b6aa751bc7a65f74d8d48cd9bd9a3be83/api/v1alpha2/hierarchy_types.go#L176) so that's a good start.

As for _replacing_ the existing conditions, the issue I have is that `HierarchyConfiguration` currently has one Condition that means "this entire namespace

[2022-02-07 03:33] adrianludwin opened #143 "Add condition if managed label (or annotation) conflicts with one of its ancestors"
/good-first-issue

Part of #47 but maybe not critical for HNC v1.0.

/cc @erikgb

See [this line for labels](https://github.com/kubernetes-sigs/hierarchical-namespaces/blob/22c4260b6aa751bc7a65f74d8d48cd9bd9a3be83/internal/hierarchyconfig/reconciler.go#L553) and [this line for annotations](https://github.com/kubernetes-sigs/hierarchical-namespaces/blob/22c4260b6aa751bc7a65f74d8d48cd9bd9a3be83/inte

[2022-02-07 03:42] adrianludwin opened #144 "Prevent users from adding a managed label/annotation that conflicts with an ancestor"
/good-first-issue
/cc @erikgb
Part of #47; see also #143.

Users should not be allowed to add new managed labels/annots which conflict with the same label/annot in an ancestor. Fortunately, we already store all that information in the forest (e.g. [see here](https://github.com/kubernetes-sigs/hierarchical-namespaces/blob/22c4260b6aa751bc7a65f74d8d48cd9bd9a3be83/internal/hierarchyconfig/reconciler.

[2022-02-07 14:03] adrianludwin opened #146 "Turn Go warnings into errors"
/good-first-issue

Let's try to prevent having to do #138 all over again.

[2022-02-07 18:43] erikgb commented on #142
I think it could make sense to keep the existing conditions when the HNC resources are not fully reconciled. AFAIK the most important requirements in kstatus seem to be:
- Add a new field: `status.observedGeneration` to be able to detect when the controller is aware of the resource state, and has started working with it.
- Any condition (except Ready: true) means that the controller is either work

[2022-02-07 18:49] adrianludwin commented on #142
I thought kstatus _ignored_ any condition it didn't recognize. The only conditions is recognizes are `Ready`, `Stalled` and `Reconciling`. Is that not correct? (If not, can you point me to the line of code where it looks for those?)

HNC doesn't actually know when anything finishes reconciling _except_ `SubnamespaceAnchor`, so we could add it there. So adding that would be a _very_ large task, not

[2022-02-07 19:13] erikgb commented on #142
The `Ready` condition is a bit special, and I understand the other conditions/statuses as just recommendations. The most important aspect is noted in the docs:

[2022-02-07 20:51] adrianludwin commented on #142
Understood, but the actual code ([here](https://github.com/kubernetes-sigs/cli-utils/blob/3f2bc6abd1902c41edf284c7a6e62dc10d13664b/pkg/kstatus/status/generic.go#L50) and [here](https://github.com/kubernetes-sigs/cli-utils/blob/3f2bc6abd1902c41edf284c7a6e62dc10d13664b/pkg/kstatus/status/status.go#L153)) seems to ignore any condition except one of those three (except for K8s built-in objects).

Anyw

[2022-02-10 15:54] nobbs commented on #146
Hey!

I've added staticcheck (https://staticcheck.io/) as a step in the `Makefile`. This seems to be one of the de-facto static code analysis tools for go. The change is minimal (see f52ebfcee433a7e6d31ad2d07fa185d08ef3d308); it will install staticcheck and run it against the same files as `go vet` either with `make staticcheck` or during `build`, `docker-build`, `docker-push-multi`:

One remainin

[2022-02-10 18:27] rahulii commented on #144
/assign

[2022-02-17 09:43] erikgb commented on #16
/remove-lifecycle stale
/lifecycle frozen

[2022-02-17 16:53] yogeek opened #147 ""failed calling webhook" error when creating namespace"
When I create a K8S cluster, some addons are deployed with Jenkins (kubectl, kustomize or helm...) and others with argocd (we are currently migrating our addons deployment to argocd progressively)

- HNC has been added recently, so it is deployed with ArgoCD
- other legacy addons like external-dns still are deployed with a script in Jenkins

The script installing external-dns is failing at the ste

[2022-02-17 18:25] erikgb commented on #147
Thanks for registering this issue @yogeek! I am experiencing the same behavior, and it is kinda expected. The excluded/included namespaces in HNC are processed by the webhook server in HNC. The namespace webhook in HNC is configured to fail closed, as it must be, so when the webhook endpoint is not available any namespace API request in the cluster will fail. 😞

I wonder if https://github.com/kube

[2022-02-19 20:52] erikgb commented on #146
I have submitted https://github.com/kubernetes-sigs/hierarchical-namespaces/pull/137 to fix most of the callers to the deprecated func. PTAL!

[2022-02-22 19:05] nobbs commented on #146
@erikgb Here's the output against the state of #137 - looks way better now:

[code]

[2022-02-22 21:17] erikgb commented on #146
Nice! I am planning to fix the deprecated callers. Feel free to fix the remaining warnings in a dedicated PR!

[2022-02-22 21:54] nobbs commented on #146
Yeah, will do in the next few days :)

[2022-02-23 06:02] #82 closed

[2022-02-25 10:22] catshout opened #150 "Release 1.0 and introduction for production readiness?"
Great idea, concept and implementation!

Latest statement about production readiness said end of  2021. Are there any updated plans when this will become part of k8s standard itself?

Best
Gerald

[2022-03-05 03:57] adrianludwin opened #151 "Document how to deploy HNC without its webhooks"
Webhooks are dangerous and may not be necessary for all users.

/assign me

[2022-03-05 03:58] adrianludwin commented on #151
/assign

[2022-03-05 04:14] adrianludwin opened #152 "Only create per-object webhooks for configured types"
We currently create [one almighty "object" webhook](https://github.com/kubernetes-sigs/hierarchical-namespaces/blob/281b24ff4c6d9fbbed59f6ac473b9c3cad79450f/config/webhook/manifests.yaml#L83) that, if broken, can effectively block every object operation in the entire cluster (minus critical system namespaces), even for objects that are not being monitored by HNC.

We should modify the `HNCConfigur

[2022-03-09 05:11] Nik-09 commented on #143
/assign

[2022-03-10 21:10] pankajmt commented on #150
I had a similar question. When is 1.0 likely to be available now? So that we could start with using 0.9 in pre-production!

[2022-03-16 15:28] adrianludwin commented on #150
Hey all, thanks for the questions (and sorry for the delay). We were planning on releasing v1.0 but there have been a few feature requests to improve productionization and stability (e.g. #139 ) so we decided to hold the release for that. We're not planning any other major new features though, and HNC is already being used in production by Mercari.

We don't have any plans to preinstall HNC on GKE

[2022-03-16 15:56] adrianludwin commented on #147
Sorry the for delay in responding.

This seems a bit weird to me because starting in HNC v0.9, the webhooks shouldn't touch any namespace that doesn't have the `hnc.x-k8s.io/included-namespace: "true"` label on it, and the HNC controller adds that label itself. So on a new cluster where HNC isn't running yet, nothing should have that label and the webhook should have no effect; by the time HNC has

[2022-03-16 17:06] adrianludwin commented on #147
Oh wait, my bad - only the _object_ webhook is restricted to certain namespaces. The _webhook_ namespace operates over all namespaces.

I agree that https://github.com/kubernetes/kubernetes/issues/92157#issuecomment-825160958 could be used to improve this.

[2022-03-16 22:10] #68 closed

[2022-03-16 23:08] erikgb commented on #147
As a user, I would expect the `excluded-namespace` flag supplied to HNC to fix this, but that might be a bit complicated to implement? 🤔

[2022-03-16 23:36] adrianludwin commented on #147
They're not quite the same thing, since HNC enforces its own rules *on* the
namespaces (e.g. it prevents them from being arranged into hierarchies), it
just doesn't enforce policies *in* the namespace (i.e. the object
validator). Plus, even if it didn't work that way, there could be a period
of time during which the exclusion labels haven't yet been added to the
namespace, but the validator isn't

[2022-03-21 13:07] zfrhv opened #157 "[feature] Add quotas sum"
Lets say I create a namespace and call it `main`. then i give it `quota` with 10 cpu.
now i give admin/edit permissions to `person1` on that namespace.

Assuming `person1` creates subnamespace named `child1` from `main`.
I expect the subnamespace to have not more than 10 cpu.

Would it be possible to:
1. calculate the sum of requests + limits from all SubNamespaces and not only from current namesp

[2022-03-22 14:04] Mais316 commented on #150
@adrianludwin  sorry for asking again, but do we have any date estimate for v1.0 release as we have a major project on hold waiting for that release, what would be the consequences of building v1.0 from current main.

[2022-03-23 09:54] jvaibhav123 opened #158 "Getting error "tls.crt: no such file or directory" when building HNC from main branch"
Hi,

Environment details:
Rancher: 2.6.2
k8s cluster: EKS
k8s version: v1.21.5

We tried to generate manifests and image by building source from main branch. We were able to do that. However , when we deploy the manifests, we were getting error
[code]
The similar issue was mentioned https://github.com/kubernetes-sigs/hierarchical-namespaces/pull/139#issuecomment-1036615144.

We would like to use H

[2022-03-23 20:04] erikgb commented on #158
I was experiencing the same issue when working on #139, and I am now unable get the HNC controller pod ready to run e2e-tests - after it got merged. 😒 @adrianludwin, maybe #139 should be reverted? At least until we are able to find the root cause for this issue. I find it hard to believe that the k8s distro is to blame for this, but I am also using a Rancher-based distro (k3s 1.23).

IMO we should

[2022-03-23 21:49] #131 closed

[2022-03-24 01:08] adrianludwin commented on #158
Ok, I'm not certain what's going on but let's revert #139. And we can try again later.

cert-controller is easy to disable by removing `--enable-internal-cert-management` from the manifest. cert-manager _used_ to be supported by default but it's now commented out [here](https://github.com/kubernetes-sigs/hierarchical-namespaces/blob/a34e5767c95fadfee51dd4e0aab23aa4c80d6677/config/default/kustomiza

[2022-03-24 01:10] adrianludwin opened #159 "Build version of hnc-manager.yaml manifest with cert-controller support"
Cert-manager support is currently disabled [here](https://github.com/kubernetes-sigs/hierarchical-namespaces/blob/a34e5767c95fadfee51dd4e0aab23aa4c80d6677/config/default/kustomization.yaml#L20), since it's incompatible with the builtin cert-controller. Since lots of orgs like using cert-manager, we should probably make it easy to do so.

We should start building `hnc-manager-cc.yaml` and `hnc-mana

[2022-03-24 01:29] adrianludwin commented on #113
The change has been checked in so it will be in the next release, sorry I didn't close this bug. But it is fixed, and will be available soon.

/close

[2022-03-24 01:29] #113 closed

[2022-03-24 01:37] adrianludwin commented on #158
I'm also seeing that the postsubmits and periodics have been failing since #139 was merged on March 16. So weird that I'm not seeing the problem on GKE :( https://testgrid.k8s.io/wg-multi-tenancy-hnc#periodic-e2e-tests&width=90

[2022-03-24 01:48] adrianludwin commented on #158
Ok, I've finally reproduced this problem on GKE. It was pretty dumb of me not to realize: if HNC is _fully_ uninstalled, I can recreate the problem, but if the Secret from a prior installation is still there, everything's able to start up successfully.

I'm going to see if I can fix this before reverting, I suspect it might have to have something to do with the start order.

[2022-03-24 03:34] adrianludwin commented on #158
/cc @erikgb

Ok, I finally understand the problem. The new `setupChecks()` function registers the health checks by calling `mgr.GetWebhookServer().StartedChecker()`, but unfortunately `GetWebhookServer()` actually _starts_ a webhook server if one wasn't started already.

Before this change, HNC carefully did _not_ create any webhooks until _after_ the cert controller finished creating the secret t

[2022-03-24 03:52] adrianludwin commented on #158
This is easy to fix since we have access to `certsReady` which tells us if it's safe to start the webhook server. PR ready shortly.

[2022-03-24 04:28] adrianludwin commented on #157
Is this the kind of thing that you're looking for? We're considering adding
it to HNC.

https://cloud.google.com/anthos-config-management/docs/how-to/using-hierarchical-resource-quotas

On Mon, Mar 21, 2022 at 9:08 AM zfrhv ***@***.***> wrote:

[2022-03-24 08:08] zfrhv commented on #157
yesss!
(i actually found HNC [here](https://github.com/kubernetes/kubernetes/issues/108709) by searching for something that can manage quotas like that)

[2022-03-24 09:24] #158 closed

[2022-03-24 14:49] adrianludwin commented on #143
We're declaring v1.0 to be finished, so let's document this as a known issue in v1.0 but fix it in 1.1.

[2022-03-24 14:51] adrianludwin commented on #150
I just finished approving the final code PRs this morning. I'll update some documentation and create the first release candidate tomorrow; if all goes well it should be out by the end of next week. Sorry for all the delays.

[2022-03-24 16:48] erikgb opened #162 "Improve probes to avoid cluster disturbance"
I think it should be possible to update HNC with a rolling update without any cluster disturbance. Some of the webhooks in HNC intercepts a great percentage of API requests, and there should always be (at least) one webhook endpoint ready to serve requests at any time (after the initial bootstrapping of HNC).

Some probes were introduced in #139, but they are not "deep" enough, and just checks tha

[2022-03-25 16:57] adrianludwin commented on #130
/assign

I have a PR ready to go

[2022-03-27 05:29] rjbez17 opened #164 "Investigate cloudbuild docker build errors."
When we build using the cloud-builers/docker image on both ubuntu 16 and 20, non-amd based builds fail with the following.

Whats left to investigate is manually building and upgrading QEMU with a fixed version. Additionally, we could look at other base images.

[code]

[2022-03-28 15:28] adrianludwin commented on #130
/close

[2022-03-28 15:28] adrianludwin commented on #47
The last sub-issue was #130  and this is now fixed. Closing for v1.0, we can file individual followups later.

Thanks everyone for your help in scoping this and getting it in! v1.0 should be out this week.

/close

[2022-03-29 00:03] #151 closed

[2022-03-29 01:14] adrianludwin commented on #10
This was fixed correctly

/remove-lifecycle stale

[2022-03-29 03:05] adrianludwin commented on #150
Hey folks, the release candidate is out! Please check it out at https://github.com/kubernetes-sigs/hierarchical-namespaces/releases/tag/v1.0.0-rc1 and let me know if it works for you. There are no known changes planned for v1.0.0 so this should be the final version unless you run into any issues. Thanks!

[2022-03-29 12:58] Mais316 commented on #150
@adrianludwin thanks a lot  for all ur efforts :)

[2022-03-29 14:18] adrianludwin opened #170 "HNC slow to become Ready on 1.21 and earlier"
I've found that HNC becomes Ready on 1.22 after about 10s, while on 1.20 and 1.21 it takes about 80+ seconds. Adding a Readiness probe seems to solve the problem - I'm not sure why, since "no readiness probe" is supposed to be equivalent to "always ready" and this does seem to be the case in 1.22. But I can't find any evidence of a bug that got fixed in 1.22 and I'm surprised that something this o

[2022-03-29 14:20] adrianludwin commented on #170
This looks vaguely related to https://github.com/kubernetes/kubernetes/issues/101064 but that bug was introduced in 1.21 (whereas I'm seeing the same behaviour in 1.20) and besides, it doesn't seem to be the same issue.

[2022-03-29 14:23] adrianludwin commented on #170
Hmm, https://github.com/kubernetes/kubernetes/pull/98376 looks possibly related

[2022-03-29 14:29] adrianludwin commented on #170
https://github.com/kubernetes/kubernetes/pull/101738 looks like a more likely candidate - introduced in 1.22, designed to fix https://github.com/kubernetes/kubernetes/issues/99979. It explicitly was _not_ backported to 1.21 (https://github.com/kubernetes/kubernetes/pull/102681#issuecomment-859026916).

[2022-03-29 16:02] adrianludwin commented on #170
Note that I verified that the healthz and readyz endpoints were actually working well this entire time. E.g. I started a busybox, pinged the endpoints directly, and verified that they returned `ok` long before the containers actually became Ready. The fact that adding a readiness probe with no change to the container fixes the problem is more evidence IMO that this is a workaround to a K8s-side pr

[2022-03-29 16:14] #170 closed

[2022-03-29 21:44] adrianludwin opened #174 "Fix flaky quickstart test"
I've noticed that the following e2e test frequently fails, and always in the same way. Rerunning it generally passes. It's almost certainly just a flake.

[code]

[2022-03-29 23:12] adrianludwin commented on #174
HNC seems to get into a bad state which causes the flakes. After I saw this problem as part of a full suite, I reran this test alone and it failed on 4/4 times. Then I killed the pod and it passed 4/4 times. I consistently saw errors from a nonexistent Kind (another test tries to sync nonexistent resources) which may or may not be related.

[2022-03-30 22:08] erikgb opened #175 "SubnamespaceAnchor status should indicate errors reconciling labels/annotations"
I did a manual test of the new feature introduced in https://github.com/kubernetes-sigs/hierarchical-namespaces/pull/149, and even if this feature is marked as _beta_, I think the user feedback must be improved.

Given a default configuration of HNC, which does not allow any managed labels/annotations, I created a `SubnamespaceAnchor`. Initially I did not try to manage any namespace labels nor ann

[2022-03-30 22:39] adrianludwin commented on #175
Marking as v1.1 but I'm in favour of backporting any fix to v1.0.1.

/good-first-issue

[2022-04-01 01:03] adrianludwin commented on #150
[HNC v1.0.0 is now available](https://github.com/kubernetes-sigs/hierarchical-namespaces/releases/tag/v1.0.0)! Please ensure that you're subscribed to [kubernetes-hnc-announce](https://groups.google.com/g/kubernetes-hnc-announce) for important announcements.

Thanks!

(PS - @Mais316 - gotta love Inside Out!)

/close

[2022-04-01 01:03] #150 closed

[2022-04-04 13:42] adrianludwin commented on #114
Please re-open this if it's still an issue for you; I'd like to understand why you wanted to propagate service accounts.

[2022-04-04 13:42] adrianludwin commented on #114
/close

[2022-04-04 13:42] #114 closed

[2022-04-05 01:05] adrianludwin commented on #157
Your timing is good; it will likely be in the next release of HNC. See this proposed commit on my personal repo (note that this is _not_ merged yet).

https://github.com/adrianludwin/hierarchical-namespaces/commit/21e5a8af9c4c380e5982c8bbc150e7293d78d871

[2022-04-05 01:19] adrianludwin commented on #159
Fixed by #176, #177

/close

[2022-04-05 01:19] #159 closed

[2022-04-05 01:28] adrianludwin commented on #146
Fixed by #169

/close

[2022-04-05 01:28] #146 closed

[2022-04-05 04:27] zfrhv commented on #157
cool !
(should i keep this case open?)

[2022-04-05 11:52] rgherta opened #181 "Security Context"
Successfuly tested restricted namespace enforcing v1.23 and pod security standards

[code]

Also security context for controller-manager

[code]

[2022-04-05 13:22] adrianludwin commented on #181
Hi, thanks for this! I'm guessing you would like us to add these to HNC?
Would you be willing to make a pull request yourself? And is this urgent
for v1.0.x or can it wait until v1.1?

On Tue, Apr 5, 2022 at 7:52 AM Roman Gherta ***@***.***>
wrote:

[2022-04-05 13:23] adrianludwin commented on #157
Up to you :) But I'm happy to close it as it will be fixed shortly
regardless.

On Tue, Apr 5, 2022 at 12:27 AM zfrhv ***@***.***> wrote:

[2022-04-05 14:08] zfrhv commented on #157
yea it will be implemented anyways so i guess i can close

thank you

[2022-04-05 14:08] #157 closed

[2022-04-05 14:27] adrianludwin opened #182 "Investigate permanent errors in the object reconcilers"
I believe that object reconcilers can get into a bad state, e.g. if their CRDs are deleted, which can only be resolved by restarting HNC. These bad states don't necessarily affect anything but can pollute the logs. In addition, the `OnChangeNamespace` function in #180 introduces a goroutine that has no ability to return errors, so we don't have a great story to handle anything that permanently bre

[2022-04-05 14:34] adrianludwin commented on #182
Suggestion from @rjbez17:

[2022-04-05 15:35] adrianludwin commented on #181
Great, awesome!

On Tue, Apr 5, 2022 at 11:34 AM Roman Gherta ***@***.***>
wrote:

[2022-04-05 23:15] rgherta opened #188 "Migrate to Ginkgo V2"
According to https://onsi.github.io/ginkgo/MIGRATING_TO_V2
It is advised migration to V2 and this implies some changes in the test files

[2022-04-06 14:34] adrianludwin commented on #188
/good-first-issue

[2022-04-07 00:16] adrianludwin opened #189 "Fix periodic resync of HRQ"
Once #183 is merged, we need to fix the periodic resync of RQs and HRQs (see detectIncrementalHRQUsageDrift).

[2022-04-07 03:09] weilaaa opened #190 "Install `kubectl hns` failed"
Follow doc installing `kubectl hns` failed, steps as bellows:

[code]

[2022-04-07 03:10] weilaaa commented on #190
/bind bug

[2022-04-07 03:11] #190 closed

[2022-04-07 03:12] weilaaa commented on #190
my bad, trim `\` will be fine

[2022-04-07 07:06] weilaaa opened #191 "Convert a full namespace to a subns and to be children of another subns"
I noticed that full namespaces can be children of subnamespaces by doing `kubectl hns set staging --parent service-4`, so if we need a way to convert a full namespace to a subnamespace and to be children of another subnamespace. just like:

[code]

**Why we need it?**
In some scenarios, our cluster already have a lot of full namespaces, and then we wanna take over them by subnamespaces way.

[2022-04-07 07:11] weilaaa commented on #191
I read codes and had a try that by two steps, I can take over full namespace as a subnamespace manually.
1. add annotations to full namespaces `ns-1`, example: `hnc.x-k8s.io/subnamespace-of: team-a`
2. create subnamespaceanchor with same name: `kubectl hns create ns-1 -n team-a`

[2022-04-07 16:24] adrianludwin commented on #191
Yes, that's the right way to solve this problem. Are you asking for a
change in behaviour? And why are you trying to convert a full namespace
into a subnamespace? Thanks!

On Thu, Apr 7, 2022 at 3:11 AM weilaaa ***@***.***> wrote:

[2022-04-07 21:03] #188 closed

[2022-04-07 22:36] adrianludwin opened #193 "Backport #168 to v1.0 branch"
/assign @adamdougal

[2022-04-07 22:36] adrianludwin commented on #193
Hey @adamdougal, I can't assign this to you but I've just filed this to track backporting #168 to the v1.0 branch. Thanks!

[2022-04-08 13:04] adamdougal commented on #193
Np, raised a PR here! https://github.com/kubernetes-sigs/hierarchical-namespaces/pull/194

[2022-04-08 13:52] adrianludwin opened #195 "Make HRQ HA-compliant"
#183 doesn't support the ReadOnly fields needed to support HA deployments of HNC. We should either update the HRQ reconcilers to support ReadOnly, or else come up with a different overall solution (e.g. modify the K8s client so that all write operations are no-ops in read-only mode).

/assign

[2022-04-08 14:06] adrianludwin commented on #193
#194 has been merged, thanks @adamdougal !

/close

[2022-04-08 14:06] #193 closed

[2022-04-12 14:01] erikgb commented on #142
@adrianludwin I'll like to push this forward. This is what I suggest to do, in the following order (and as separate pull requests):

1. Introduce status `observedGeneration` on all HNC custom resources that are watched/reconciled.
2. Introduce conditions in `SubnamespaceAnchor` status, since conditions are missing completely now.
3. Add new `Stalled` condition to `HNCConfiguration` and `HierarchyC

[2022-04-12 15:24] adrianludwin commented on #142
Yes, each reason has exactly one condition type, so I believe they could be removed. The bigger problem is that some of these conditions are basically warnings, and others are errors. Can kstatus represent that? Or can we add a "Warning" condition that gets ignored by kstatus (see my last comment from Feb 7)?

Are you ok with never being able to add a `Reconciling` condition to `HierarchyConfigura

[2022-04-12 15:24] adrianludwin commented on #142
... with all that said, _adding_ all this to the existing API sgtm, and then when we next bump the API to v1beta1, we can drop the custom fields.

[2022-04-13 10:19] erikgb commented on #142
/assign

[2022-04-14 20:37] erikgb opened #198 "Read-only mode implemented with read-only client"
The newly introduced read-only mode to make HNC more highly available is currently implemented with a `ReadOnly` field on all reconcilers, and every write operation must guarded with a check on the value of this field. This is not robust enough IMO, and should be improved. Contributors not aware of this feature could easily forget adding this guard, leaving it up to reviewers to catch it - creatin

[2022-04-14 23:42] adrianludwin opened #199 "Proposed simplifications and feature removals for the HNC API"
We have a few features that I believe are rarely used but are hard to implement and maintain in HNC:

- Cascading deletion: the ability to remove an entire subtree of subnamespaces (that is, namespaces with `SubnamespaceAnchor` objects in their parents) in one call to the server.
- Safely deleting the HNC CRDs: since deleting an anchor deletes its associated namespace, deleting the anchor _CRD_ wo

[2022-04-14 23:42] adrianludwin commented on #199
/cc @rjbez17
/cc @erikgb

wdyt about these proposal?

[2022-04-17 12:38] erikgb commented on #199
@adrianludwin In general I am positive to the suggested changes, but it seems like there might be a few corner cases that would need special attention (some examples in the following, but not limited to):
- How should HNC react to a user trying to create a new `SubnamespaceAnchor`, but the namespace already exists (with or without the `subnamespaceOf` annotation)? The safest thing to do, would pro

[2022-04-18 02:33] weilaaa commented on #191
Yep, I'm asking for a behavior change. As I said in `Why we need it`, assumed that our k8s cluster already had a lot of full namespaces, and I want to take over them by subnamespaces way, cause I want the features of [subnamespaces-deep-dive](https://github.com/kubernetes-sigs/hierarchical-namespaces/blob/master/docs/user-guide/quickstart.md#subnamespaces-deep-dive) rather than using simple Hierar

[2022-04-18 02:35] weilaaa commented on #191
I'm willing to have a try if you think it alright.

[2022-04-19 06:44] hferentschik commented on #20
/remove-lifecycle stale

[2022-04-19 12:55] JohannesLamberts commented on #115
@gkarthiks I've just run into this issue causing the service not to become operational: "* the Kubernetes API server reported that "hnc-system/hnc-controller-manager-metrics-service" failed to fully initialize or become live: 'hnc-controller-manager-metrics-service' timed out waiting to be Ready".

The issue you described persists in https://github.com/kubernetes-sigs/hierarchical-namespaces/relea

[2022-04-19 14:38] adrianludwin opened #200 "Proposal: remove anchor finalizers as soon as subns starts getting deleted"
Today, if you delete a subnamespace anchor, the anchor is not fully deleted until the underlying subnamespace is deleted. Namespaces are usually deleted within several seconds, but can sometimes get "stuck," in which case the anchor isn't deleted either.

This behaviour has two problems:

- If the anchor isn't deleted, it can prevent the parent namespace from being deleted, since namespaces cannot

[2022-04-19 14:38] adrianludwin commented on #200
/assign @erikgb

[2022-04-19 15:21] JohannesLamberts opened #201 "HNC: Multiarch images (e.g. arm64)"
Hi,

we just ran into issue that the image gcr.io/k8s-staging-multitenancy/hnc-manager:v1.0.0 would not start in a ARM-Cluster.

The issue has already been raised in https://github.com/kubernetes-sigs/multi-tenancy/issues/1383 and should have been fixed by https://github.com/kubernetes-sigs/hierarchical-namespaces/pull/45 [on 5 Jul 2021](https://github.com/kubernetes-sigs/hierarchical-namespaces/p

[2022-04-19 15:22] adrianludwin commented on #199
Today, you can create an anchor for an existing namespace as long as the namespace's annotation points to the parent (this is how you resolve a `MissingAnchor` condition). We _could_ add a restriction that you can only create the anchor if you have edit permissions on the child namespace, but I'd rather not.

No, I don't think the `subnamespaceOf` annotation should be deleted if the anchor is dele

[2022-04-19 15:58] adrianludwin commented on #115
Maybe re-open a new one? I never saw the original issue since it was opened and closed while I was off for Christmas, and I don't really understand the problem. But I'd be grateful if you wanted to patch this into v1.0.1 and can explain what the change does (none of our default tests have Prometheus installed, which may be why we're not seeing this).

[2022-04-19 23:58] gkarthiks commented on #115
hi @JohannesLamberts , If my memory serves me well, I think I closed that after looking at the Kustomization overlays sometime back. But happy to reopen the PR.

[2022-04-20 17:12] rjbez17 commented on #199
I'm not neccessarily against these proposed changes, but I've used both of these features widely in the past.

For cascading deletion, we had a tree in our dev clusters like Sandboxes -> {dev_team} -> {developer sandbox x}.

From there, the developers would create subnamespaces. We had a cost saving policy that dev sandboxes were auto-deleted monthly, allowing them to recreate it needed the next d

[2022-04-20 17:17] #181 closed

[2022-04-20 17:21] adrianludwin commented on #199
Hmm. For cascading deletion, would the client-side solution help? E.g. `kubectl hns rmtree <namespace>`? Although what I really think is that it would be nice to change the _default_ since this would let us drop the webhook and most of the finalizers (especially if combined with #200). For example, we could have three `deletionPolicy` values - `Unanchor`, `DeleteChild`, and `DeleteTree`, where `De

[2022-04-20 17:28] rjbez17 commented on #201
I was working on [this](https://github.com/kubernetes-sigs/hierarchical-namespaces/issues/164) and our current build pipeline is setup for this but I was stuck on some QEMU issues. I haven't had time to look at it all, but if you have some suggestions I'm happy to hear it.

If you can get the cloudbuild.yaml to work with ARM in cloud build, I'll happily integrate it. As of now, I can get it workin

[2022-04-20 18:04] rjbez17 commented on #199
Now that I think more on it, I think I prefer removing the option of setting it in the config spec. As it stands, it could be a privileged escalation as anyone could really set any parent, meaning they could get some secrets or something they shouldn't.

I also like the thoughts on the cascading delete but also am ok leaving it for client side.

[2022-04-20 18:18] adrianludwin commented on #199
We already have webhooks to prevent you from setting a parent that you
don't also own, for exactly that reason. That wouldn't go away :)
See:
https://github.com/kubernetes-sigs/hierarchical-namespaces/blob/d3b59688b3ca175f228e427db772d673b997ccc8/internal/hierarchyconfig/validator.go#L312

On Wed, Apr 20, 2022 at 2:04 PM Ryan Bezdicek ***@***.***>
wrote:

[2022-04-22 14:17] rjbez17 opened #204 "Allow option to server metrics using https"
We removed the rbac proxy and therefor metrics are no longer being served over HTTPS. We should provide an option to server over https using similar internal logic as the webhook endpoint.

[2022-04-23 15:14] weilaaa commented on #191
Thanks for u answers. Everything works follow twos steps. By the way, can you easily reveal when the HA will be stable?

[2022-04-23 18:26] erikgb commented on #198
/assign

[2022-04-24 15:25] adrianludwin commented on #195
This should be fixed by #198  / #206

/cc @erikgb

[2022-04-24 18:01] #198 closed

[2022-04-24 18:01] #195 closed

[2022-04-24 18:04] erikgb opened #208 "Use Prow to create cherry-pick PR to release branches"
I notice that when we occasionally consider a PR a bugfix, that we want to include in a patch release, we need to ask our users to open a new PR against the release branch. This is not optimal, and I think Prow can help us with this. At least, I've seen that done in other K8s projects.

Looking at the Prow command reference: https://prow.k8s.io/command-help, it is listed as the first command.

But

[2022-04-24 18:04] erikgb commented on #208
@rjbez17 maybe you know how to set this up?

[2022-04-25 17:04] rjbez17 commented on #208
I think I found where to do this, I'll work on it this week.

[2022-04-25 17:19] adrianludwin commented on #208
Cool, thanks!

On Mon, Apr 25, 2022 at 1:05 PM Ryan Bezdicek ***@***.***>
wrote:

[2022-05-01 17:50] raz-bn opened #209 "BUG: Can not add Label/Annotations after enabling propagation"
When trying to follow the user guide, I encounter an issue adding a Label/Annotation to a managed Namespace following the regex pattern I am willing to propagate.
After adding the following `--managed-namespace-label=hier.mycorp.com/.*` as an argument to the HNC deployment. Adding the following label `hier.mycorp.com/test: "true"` will fail (it does not return any error, but the Label does not add

[2022-05-01 18:01] adrianludwin commented on #209
Hi Raz, can I just confirm that you added the label in the
HierarchyConfiguration object, and *not* directly in the namespace itself?
Thanks!

On Sun, May 1, 2022 at 1:50 PM Raz Ben Netanel ***@***.***>
wrote:

[2022-05-01 18:37] raz-bn commented on #209
Hey!
thx for the quick replay. I missed the fact I need to add it to the HierarchyConfiguration.
tested it again, and it is working as expected.
I'm closing the issue :)

[2022-05-01 18:37] #209 closed

[2022-05-01 19:18] adrianludwin commented on #209
Great, thanks! Please reach out if you have any questions (or comments).
Cheers.

On Sun, May 1, 2022 at 2:37 PM Raz Ben Netanel ***@***.***>
wrote:

[2022-05-01 19:22] adrianludwin commented on #209
Just a note about _why_ it works this way - we need to be able to tell the
difference between a valid managed label and an invalid one that needs to
be removed, so the source of truth can't be on the namespace label itself.
So it has to be somewhere else - either on a another annotations, or on a
separate object. Putting it in the HierarchyConfiguration object solves
that problem, and also lets us

[2022-05-16 16:00] rhessing opened #210 "Annotations ignored for Rancher K8s clusters"
It seems that when creating a child namespace the annotation part is being ignored by HNS.. I believe it's due to this change but not sure:
https://github.com/kubernetes-sigs/hierarchical-namespaces/issues/104

For example:
[code]

The annotation above allows the namespace to be added into a project and thus inherit all project resource quotas and user permissions, allowing the user that creates t

[2022-05-16 16:10] rhessing commented on #210
Closing due to issue https://github.com/kubernetes-sigs/hierarchical-namespaces/issues/175 answering my question.

[2022-05-16 16:10] #210 closed

[2022-06-13 17:01] #110 closed

[2022-06-17 18:05] ericmenard opened #212 "Propagate parent's annotations to child without knowing their value"
Hi,

My use case is the following, my parent namespace has annotations to activate or not linkerd. These annotations are not static and changes time to time. I need to propagate these annotations with their values to all sub-namespaces.

I tried using HierarchyConfiguration beta feature with argument option --managed-namespace-annotation=linkerd.io/inject
[code]

This configuration works for stati

[2022-06-20 18:44] loeffel-io opened #213 "GKE Autopilot"
[code]

[2022-06-21 08:21] kristinnardal2 commented on #16
I have run into exactly this problem.
I'm working with multiple teams which all get a namespace in a Kubernetes cluster, we automatically populate this namespace with docker credentials to a repository that the team has access to.
We would like to allow the teams to create sub-namespaces and have only the docker credentials propagate to the sub-namespaces.

Only being able to exclude secrets makes

[2022-06-25 13:34] rjbez17 commented on #164
/unstale

[2022-06-25 13:34] rjbez17 commented on #164
/remove-lifecycle stale

[2022-06-28 03:43] #135 closed

[2022-06-28 11:51] mzeevi opened #214 "HRQ: Resources are not removed from the quotas' usages when a namespace is moved out of a subtree"
Hi,

The HRQ [documentation](https://cloud.google.com/anthos-config-management/docs/how-to/using-hierarchical-resource-quotas) notes the following:

However, this does not seem to be the case here.

**Steps to reproduce:**

1. Clone HNC repo and install `kubectl-hns`
2. Set up Kind cluster with cert-manager:
[code]
3. Deploy on Kind cluster:
[code]
4. Set up hierarchy using `kubectl-hns`:
[code]
5

[2022-06-30 15:23] btwseeu78 opened #215 "HNS and crossplane provider-kubernetes is not compatible"
Hi All,

it seems there is issues if we use crossplane provider kuberntes together.I dont think its bug as per hns or how it works its fine but crossplane is used in our environment and its rapidly growing, as well as we are really interested using HNS and the plan was to use it via crossplane to give projects better reach but there is issues in it as of now,and i would love some feedback from com

[2022-07-02 20:44] #140 closed

[2022-07-10 10:52] mzeevi commented on #175
Hey, I was going to give this issue as go as a first-issue but I'm unable to reproduce.

Once I modify the `SubnamespaceAnchor` I get:

[code]

Looks like it's been fixed by #168, so I'm thinking this issue can be closed?

[2022-07-10 20:01] #144 closed

[2022-07-12 11:28] erikgb commented on #142
Still valid, to support CI/CD tools like Flux and Argo.

[2022-07-12 11:28] erikgb commented on #142
/remove-lifecycle stale

[2022-07-12 18:08] Blobson opened #216 ""No such file or directory" on alpine"
Trying to use `alpine:3.16` docker image with `kubectl-hns` onboard fails with an error:
[code]

`Dockerfile` used to build the image:
[code]

Am I missing something?

[2022-07-22 16:16] Nik-09 commented on #143
/unassign

[2022-07-24 18:40] rjbez17 commented on #208
/remove-lifecycle stale

[2022-07-25 14:31] mzeevi commented on #214
I tried to reproduce it today and noticed that after the controller is restarted (I deleted the pod and let the deployment create a new one), the status is shown correctly - 4 config maps in the status.

The update does not seem to be triggered without a restart for some reason

[code]

[2022-07-25 14:45] adrianludwin commented on #214
Thanks for this! I'll try to look into it later this month but I'm focused
on a bunch of other stuff right now. Is this urgent for you? Are you able
to contribute patches yourself (e.g. write Go code, get Github PRs
reviewed, etc)? That could accelerate this process.

On Mon, Jul 25, 2022 at 10:31 AM mzeevi ***@***.***> wrote:

[2022-07-25 14:46] adrianludwin commented on #189
/remove-lifecycle stale

On Tue, Jul 5, 2022 at 9:09 PM Kubernetes Triage Robot <
***@***.***> wrote:

[2022-07-25 15:34] mzeevi commented on #214
It's not urgent, no.

I'll gladly take a look into the code and see if I can get it fixed.

Any suggestions on where you think the problem might be?

[2022-07-29 19:42] adamjohnson01 opened #218 "Control propagation of labels and annotations from SubnamespaceAnchor to Namespace"
We have a use case where we would like to add `labels` and `annotations` to namespaces  but do not want them propagated down the tree. This is useful for Namespace overrides for specific values that are used by our policy engine.

We configure `--managed-namespace-annotation=tenant.config/.*` and want all of these to be propagated but we also have `namespace.config/*` annotations that we would lik

[2022-08-02 19:42] mzeevi commented on #214
I believe this should be fixed by #219

[2022-08-09 16:01] adrianludwin commented on #214
Thanks, I've left comments in the PR. We shouldn't rely on the periodic sync, that's basically just to recover from _bugs_ and shouldn't be relied on in normal operation.

[2022-08-10 02:13] adrianludwin commented on #218
Hi, sorry for the delay in getting back to you.

The way we currently limit propagation from parents to children is [Exceptions](https://github.com/kubernetes-sigs/hierarchical-namespaces/blob/master/docs/user-guide/how-to.md#use-limit-propagation). Currently, these only apply to _objects_, but there's a [proposal](https://docs.google.com/document/d/1MrOXZQ3tgTIVPPaXHYea5FTwG5_-UgqRN2fPK5FT2vc/edi

[2022-08-10 02:20] adrianludwin commented on #216
Sorry for the delay in getting back to you. I'm _guessing_ it's trying to find your [kubecfg](https://ahmet.im/blog/mastering-kubeconfig/) file in your HOME directory which wouldn't exist on a fresh Alpine image. That's how it knows how to connect to your current cluster. LMK if this doesn't work.

/close

[2022-08-10 02:20] #216 closed

[2022-08-10 02:25] adrianludwin commented on #215
Sorry for the delay in getting back to you. Does Crossplane put any labels or annotations on the objects it inserts into your namespaces? If so, we could extend K8s to support crossplane in the [same way we supported OpenShift and Rancher](https://github.com/kubernetes-sigs/hierarchical-namespaces/blob/master/internal/selectors/selectors.go#L170). Sadly, this isn't configurable today so we'd need

[2022-08-10 02:26] adrianludwin commented on #215
... we could also make this configurable, it's always been easier not to though until now :/

[2022-08-10 02:28] adrianludwin commented on #213
Sorry, I never tested on Autopilot because at least at first, it didn't support mutating admission webhooks. I don't _think_ that's your current problem though.

Does the same problem occur on Standard GKE with the same other system components?

[2022-08-10 02:31] adrianludwin commented on #212
Sorry for the delay in getting back to you.

I'm not sure I understand the problem. Who is modifying the annotations? Can it be modified to change the HierarchyConfiguration instead? The reason that HNC doesn't respect any _existing_ annotation is because it's allowed to overwrite them at any time, so its source-of-truth is always in a `HierarchyConfiguration` or `SubnamespaceAnchor` object. Howev

[2022-08-10 18:15] ericmenard commented on #212
Hello,

Here are some details to clarify my use case. I'm deploying hnc with flux in a cluster where the list of namespaces managed by hnc is dynamic based on customer needs.

customer1 has namespaces [a, b]
customer2 has namespaces [dev, staging, prod]

I'm currently using HierarchyConfiguration resources to set the annotation values are its working well. However, I have to define 2 HierarchyConf

[2022-08-10 19:57] ericmenard commented on #212
Some extra information
- each customer has their own cluster
- customer has restricted access to only its root namespaces. e.g. customer1 [a,b] has only access to a and b and only namespaces a and b are managed with HNC to allow them to create sub-namespaces
- All customer's namespaces have the same annotation

I'm starting to think about creating a common namespace managed by HNC and leaving lega

[2022-08-10 22:17] adrianludwin commented on #212
Ok, so in a per-customer-cluster, isn't that even easier? Make `a` and `b` children of another namespace called `cluster-root` or something and specify all the annotations in `cluster-root`? They'll then be automatically propagated to `a` and `b`.

If you wanted, we could also consider putting the annotations in `HNCConfiguration` which would treat _all_ namespaces as though they had a magic root,

[2022-08-10 22:22] ericmenard commented on #212
Having annotations in HNCConfiguration with the magic root to replicate annotations to all managed namespace will be the best.

[2022-08-11 01:40] adrianludwin commented on #212
Ok - are you able to provide a PR? This is fairly low priority for me to
implement but I can review it if you're interested in doing it. Otherwise,
I recommend just adding an explicit root namespace to all your clusters,
which works today in HNC v1.0.

On Wed, Aug 10, 2022 at 6:22 PM ericmenard ***@***.***> wrote:

[2022-08-11 13:04] ericmenard commented on #212
Thanks I will give it a try and meanwhile use the root namespace

[2022-08-12 21:03] adamjohnson01 commented on #218
@adrianludwin thanks for getting back to me!

That makes sense, I will have a look at adding the propagate field for labels and annotations.

[2022-08-14 01:39] #147 closed

[2022-08-21 17:06] #143 closed

[2022-08-21 19:07] #162 closed

[2022-08-22 09:01] btwseeu78 commented on #215
To be precise its not actually crossplanes doing rather provider-Kubernetes ,its used to create Kubernetes resources that uses cross plane to do that, so for that it auto injects some permissions for all newly created ns so that it can create those resources on behalf.
Now the think i'm asking here is ,if there is an old namespace and i want to retain its previous bindings also take what hnc wants

[2022-08-23 02:59] adrianludwin commented on #215
I'm afraid I don't really know anything about Crossplane and don't have time to look into it. I do think the fix would be fairly easy if Crossplane (or its K8s provider, I don't know what that means exactly) put an annotation on the the RBAC rolebindings. Do you know if this is true? If so, it's a one-line change to fix this in the next version of HNC.

[2022-08-25 05:53] btwseeu78 commented on #215
Crossplane does put role-binding on the roles injected by it.
![image](https://user-images.githubusercontent.com/9463052/186585681-2a0108e8-ce56-4257-9d25-8c7c36ea8938.png)

[2022-08-25 05:54] btwseeu78 commented on #215
This is the repo for crossplane provider-kuberntes:

https://github.com/crossplane-contrib/provider-kubernetes

just for information

[2022-08-25 06:07] btwseeu78 commented on #215
its because of this config on provider : https://github.com/crossplane-contrib/provider-kubernetes/blob/main/examples/provider/config-in-cluster.yaml.

i am exactly not sure if i am explaining the problem clearly. my question was if the NS already exists ,with some roles in it. is it possible to add it to the hnc tree,as sub namespace or as parent.

what hierarchy addition does actually to a ns is

[2022-08-25 23:58] MGlants opened #220 "Timouts on : context deadline exceeded failed to remove services sometimes"
`{"level":"error","ts":1661471091.1929212,"logger":"controller.role","msg":"Reconciler error","reconciler group":"rbac.authorization.k8s.io","reconciler kind":"Role","name":"lynx","namespace":"test","error":"Internal error occurred: failed calling webhook \"objects.hnc.x-k8s.io\": failed to call webhook: Post \"https://hnc-webhook-service.hnc-system.svc:443/validate-objects?timeout=2s\": context d

[2022-08-26 00:51] MGlants commented on #220
Got to enlarge resources

[2022-08-26 00:51] #220 closed

[2022-08-27 00:57] #174 closed

[2022-08-29 13:57] adrianludwin opened #221 "Add documentation for inclusive propagation"
/assign @mzeevi

See https://github.com/kubernetes-sigs/hierarchical-namespaces/pull/217#pullrequestreview-1088726641

[2022-08-29 13:57] adrianludwin commented on #221
@mzeevi I can't assign this to you formally but here it is FYI :)

[2022-08-30 09:47] mzeevi commented on #221
Addressed this at #222, let me know what you think. @adrianludwin

[2022-08-30 21:50] markbaylis opened #223 "kubectl hns tree command very slow"
Hi,

This is more cosmetic than anything else, but we have observed the 'kubectl hns tree' command is very slow to draw out the tree.

Is there any plans to improve this?

Thanks
Mark

[2022-08-31 18:42] zybiko89 opened #224 "Internal error occurred: failed calling webhook"
`{"level":"error","ts":1661965729.2943187,"logger":"anchor.reconcile","msg":"while updating on apiserver","rid":88,"trigger":"cp/test-jk","error":"Internal error occurred: failed calling webhook \"objects.hnc.x-k8s.io\": Post \"https://hnc-webhook-service.hnc-system.svc:443/validate-objects?timeout=2s\": context deadline exceeded"}`

We're reinitializing our cluster from a backup of etc.d and we'v

[2022-09-02 16:01] #182 closed

[2022-09-12 06:23] mzeevi opened #225 "Extend exceptions to HRQ"
In continuation to the [following document](https://docs.google.com/document/d/1MrOXZQ3tgTIVPPaXHYea5FTwG5_-UgqRN2fPK5FT2vc/edit#heading=h.qmy6n690bbq) explaining the need to extend exceptions to HRQ, and an earlier discussion with @adrianludwin, I'm opening this issue to allow for further discussion regarding the exact implementation.

Once an implementation is chosen I will also update the docum

[2022-09-12 06:39] saradach opened #226 "kubectl hns tree cmd is pretty slow"
Hi All,

We are in initial stage of implementation so we only have 15 HNS on one cluster and when running the kubectl hns tree cmd is pretty slow.

We will be using this cmd heavily so is there any fix for this or any caching mechanism to make it fast?

[2022-09-12 18:53] AustinSmart opened #227 "Unable to deploy hnc to namespace other than hnc-system with `--enable-internal-cert-management`"
The webhook cert rotator uses a `const` referring to `hnc-system` as the source of the namespace that hnc is deployed into ([ref 1](https://github.com/kubernetes-sigs/hierarchical-namespaces/blob/529259da83b27bf07191354789165767e1c3aaf3/internal/setup/webhooks.go#L26), [ref 2](https://github.com/kubernetes-sigs/hierarchical-namespaces/blob/529259da83b27bf07191354789165767e1c3aaf3/internal/setup/we

[2022-09-12 19:39] adrianludwin commented on #227
It doesn't surprise me that there are a few places where this is hardcoded.
I'd be happy to look at PRs to make it configurable, but I'm not sure how
to tell a pod what namespace it's running in (apart from through an env var
or command line arg or something). Also, all the configs would have to be
updated, I'm not sure if that's easy or hard offhand.

On Mon, Sep 12, 2022 at 2:53 PM Austin Smart

[2022-09-12 20:02] AustinSmart commented on #227
[Using the downward API `fieldRef` `metadata.namespace` to populate an env var would be a nice way](https://kubernetes.io/docs/concepts/workloads/pods/downward-api/#downwardapi-fieldRef).

It looks like the `POD_NAMESPACE` env var is being used in other places ([ref 1](https://github.com/kubernetes-sigs/hierarchical-namespaces/blob/3d56dcf7a7c429018b10594a07af987d26b5b979/internal/webhooks/webhook

[2022-09-16 08:32] #20 closed

[2022-09-16 16:38] #200 closed

[2022-09-17 18:52] #201 closed

[2022-09-17 19:52] #199 closed

[2022-09-19 16:13] #204 closed

[2022-09-20 17:24] #191 closed

[2022-09-21 06:06] Alan01252 commented on #224
I'm also looking into similar errors at the moment. HNC seems to be working correctly, but we get these errors occasionally in the manager log too.

Running on EKS version 1.0

[2022-09-21 14:55] adrianludwin commented on #224
@Alan01252 interesting, how did you narrow this down to `RestartOnSecretRefresh`, just the prior log message? If that's the case, then this is harmless if annoying.

@zybiko89 does the problem eventually go away, or is it persistent? Webhooks can fail for an almost unlimited number of reasons so I'm not sure what would cause this, but as long as HNC's running and accessible from the control plane,

[2022-09-21 21:38] zybiko89 commented on #224
The issue was persistent for us but it won't be an issue for us going forward.

[2022-09-21 21:38] #224 closed

[2022-09-22 07:28] Alan01252 commented on #224
@adrianludwin I think the certificate might have been a red herring.  We're still crashing regularly in our preprod environment, but not in our prod.

The concerning thing for me is that this seems to cause the propagated resource to be deleted/rebuilt which is obviously not ideal when we've got things like network policies being propagated.

I'm still trying to ascertain what the difference betwe

[2022-09-22 07:39] erikgb commented on #224
@Alan01252 If you have cert-manager installed in your clusters, I can recommend switching to cert-manager for issuing webhook certificates. I've had a bunch of issues with the cert-rotator that HNC uses by default.....

[2022-09-23 10:36] Alan01252 opened #228 "Resources deleted when HNC restarts despite existing previously"
When HNC restarts the propagated objects can be deleted unnecessarily if the parent namespace hasn't yet fully synced.
This is problematic especially when propagating network rules as can lead to loss of service whilst the network rules are re-created.

Digging through the code the problem appears to be that the ActivitiesHalted flag is removed too early.
It's removed when the parent namespace is

[2022-09-23 11:18] Alan01252 commented on #228
This is an example log line:

`{"level":"info","ts":1663928171.33828,"logger":"hierarchyconfig.reconcile","msg":"Setting ConditionActivitiesHalted: parent doesn't exist (or hasn't been synced yet)","rid":11,"ns":"acp-shrd-srv-service-auth","parent":"acp-shrd"}
{"level":"info","ts":1663928171.3384438,"logger":"hierarchyconfig.reconcile","msg":"New namespace found","rid":11,"ns":"acp-shrd-srv-servic

[2022-09-23 11:56] Alan01252 commented on #228
I added some more logging and ran again just to make this easier to hopefully see/prove I'm not going mad.

`
{"level":"info","ts":1663932832.942569,"logger":"hierarchyconfig.reconcile","msg":"Setting ConditionActivitiesHalted: parent doesn't exist","rid":40,"ns":"acp-shrd-srv-service-auth","parent":"acp-shrd"}
{"level":"info","ts":1663932832.9425945,"logger":"hierarchyconfig.reconcile","msg":"Enq

[2022-09-23 17:03] adrianludwin commented on #224
Using cert-manager as a more production-read system sgtm. cert-rotator is
designed as a simple batteries-included feature.

LMK if you find out what the difference is between the environments.

On Thu, Sep 22, 2022 at 3:39 AM Erik Godding Boye ***@***.***>
wrote:

[2022-09-26 09:02] Alan01252 commented on #228
This is very tricky to solve with the current architecture and makes me concerned about using HNC in general.

Help would be appreciated if anyone has time/inclination ( and I completely understand this is a volunteer open source project so hope my tone is coming across okay! ) :)

The problem is that the forest is eventually consistent or not consistent at all ( due to relying on the data being i

[2022-09-26 12:47] Alan01252 commented on #228
I've had a crack at modifying the code here. This is being tested in our pre-prod environment, but I don't expect this pull request to be merged. Just hoping that it sparks some discussion :)

https://github.com/kubernetes-sigs/hierarchical-namespaces/pull/229/files

[2022-09-27 06:37] Alan01252 commented on #224
@adrianludwin one of our preprod nodes was running out of CPU and memory, which seemed to be impacting this pod more than others because we configure most pods without CPU limits just CPU resources for critical pods, but the yaml here enforces a limit.

Became way more obvious in ha mode

![image](https://user-images.githubusercontent.com/112859/192450970-f17964a6-0f77-4649-892a-775b66d8658c.png)

[2022-09-29 08:47] gazpwc opened #230 "Unable to delete Subnamespaceanchor with long name"
Hi,

somehow (maybe during a downtime of the hnc controller?) we managed to create a Subnamespaceanchor with a name having more than 63 characters. For obvious reasons, the controller is not able to create a corresponding namespace and the anchor remains in:

[code]

And unfortunately we are not even able to delete the invalid Subnamespaceanchor again.
[code]

The HNC Controller logs this message:

[2022-10-02 16:45] adrianludwin commented on #228
Hey @Alan01252 sorry for the delay in getting back to you. Yes, HNC can mistakenly delete objects while it's restarting, I'd like to have a go at fixing this once and for all in the future. The idea I had in mind was:

* Every HierarchyConfiguration object stores both its parent and its last known children
* During startup, HNC can use this information to know if its tree is incomplete, and disabl

[2022-10-02 21:34] adrianludwin commented on #228
I think a simpler fix might be to modify the forest so that we know if a source object is definitely present, definitely missing, or unknown ([here](https://github.com/kubernetes-sigs/hierarchical-namespaces/blob/master/internal/forest/namespaceobjects.go)). We already do that with namespaces themselves (`ns.Exists()`) but we should be able to do this with objects too.

So because the `inherited-f

[2022-10-03 06:32] Alan01252 commented on #228
Hi Adrian!

Thanks for the reply, tis very much appreciated.

We've solved the immediate stability issues ( these were caused by us missing an alert on our pre prod environment ) however the reason this causes concern is we can not use HNC and do EKS/Node upgrades etc without having downtime of all our services due to propagated network policies etc being deleted when the HNC pod moves nodes. I as

[2022-10-03 13:38] adrianludwin commented on #228
Out of interest, what was the cause of the restarts if you don't mind me
asking? I occasionally see people asking about this and I'm wondering if
there's a common problem.

HNC's startup performance is quite poor because of a mistake I made in the
earliest versions of HNC - I thought that each object was read by an
individual call to the apiserver, so adding a few bad writes wasn't a big
deal, per

[2022-10-03 14:48] adrianludwin commented on #230
This is definitely a clear bug and we should fix it. Sorry! In the meantime, you'll have to temporarily delete the admission webhook config and then reinstall it after you've deleted the anchor.

[2022-10-05 06:57] Alan01252 commented on #228
Thanks again for your reply Adrian, this all makes sense to me now :)

We had a node that had high cpu utilisation and for reasons I don't really understand this was causing hnc to restart more frequently than other pods. We resolve the cpu utilisation on the node, and used kustomizse to patch and remove the CPU limit since then it's been solid as a rock.

I'll see what I can do, we get Friday aft

[2022-10-05 08:56] gazpwc commented on #230
Thanks for the quick feedback. We will have a look into this to get rid of these objects.

After reading the docs (https://github.com/kubernetes-sigs/hierarchical-namespaces/blob/master/docs/user-guide/how-to.md#uninstall-hnc-from-a-cluster) just one more question:

Just deleting the webhook by `kubectl delete validatingwebhookconfiguration.admissionregistration.k8s.io hnc-validating-webhook-confi

[2022-10-07 00:49] adrianludwin commented on #230
That's correct, the worst thing that can happen when you delete a webhook
config is that K8s will allow you to make changes that it would otherwise
have blocked. So unless some other controller is going crazy trying to
delete things (which really, *really* shouldn't be happening) you'll be
fine.

If you want to be absolutely sure, you can back up your HNC objects as
described here:
https://github.

[2022-10-11 07:15] adrianludwin commented on #191
I think that in v1.1 (probably out in a month or two) we'll upgrade it to
"beta," which means that we think it _should_ work but there might still be
some bugs or instability.

On Sat, Apr 23, 2022 at 11:14 AM weilaaa ***@***.***> wrote:

[2022-10-11 08:52] adrianludwin commented on #223
I haven't observed this, could it be that your apiserver is throttling
replies? I'd generally expect one call to the apiserver per namespace,
*maybe* two. How big is the tree you're trying to draw, and how long does
it take? Is it faster if you just do a subset of the tree?

I suspect we could improve performance by using List calls instead to
retrieve lots of information at the same time, though

[2022-10-13 03:41] weilaaa opened #231 "Support customize namespace install"
It seems we can't install hnc in our customize namespace. Wish there was this feature.

https://github.com/kubernetes-sigs/hierarchical-namespaces/blob/e9d8bb80e54ecfe735235ce608905e6dfbf757ca/internal/setup/webhooks.go#L26-L55

[2022-10-13 03:42] weilaaa commented on #231
/assign @adrianludwin

[2022-10-13 03:44] adrianludwin commented on #231
This is nontrivial because you'd have to find all the places where
"hnc-system" is hardcoded, both in the configs and in the code, and replace
the former with kustomization and the latter with command-line args. I
suppose you could get away with just the command-line args if you didn't
mind modifying all the configs yourself.

I'm not going to make a PR for this myself but I'd be happy to accept o

[2022-10-14 07:23] xgp01 commented on #231
Can I have a try?

[2022-10-14 07:27] weilaaa commented on #231
/assign @xgp01 Thanks for trying. I'm looking forward to the implementation of this feature :)

[2022-10-20 14:14] mochizuki875 commented on #230
Hi, I read this issue and tried to reproduce it.
I think this bug caused by checking number of characters by validation webhook when delete subns request occurs.
So validation webhook should skip the check at the deletion event, right?

I try to fix it.
https://github.com/mochizuki875/hierarchical-namespaces/commit/236812a369ddc252710d83570c119ba31f574396#

If it'ok, please assign me and I'll post

[2022-10-24 08:46] lindhe opened #233 "Missing port 8081 in Manager manifest"
The manager pod is using port 8081 for its health probes. That port is, however, not exposed to the user in the manifest, which makes it harder than necessary to know that the port is indeed open.

I suggest that the port is added to the list of exposed ports in the container.

If other containers have the same situation, the same fix should go for them.

https://github.com/kubernetes-sigs/hierarc

[2022-10-30 15:16] mochizuki875 commented on #230
/assign @mochizuki875

[2022-11-02 00:50] absoludity opened #235 "Support for "hns get pods -n my-hierarchical-ns"?"
Hi there. I was excited to find hns today as a potential solution for some multi-tenancy queries users have which cannot be easily solved with vanilla k8s. There are two related requests that pop up in different scenarios for our application ([Kubeapps](https://kubeapps.dev/)):
- Can I see just the namespaces to which I have access? We currently solve this with a special service account that can l

[2022-11-06 18:58] #46 closed

[2022-11-09 13:13] erikgb commented on #142
/remove-lifecycle rotten

[2022-11-09 14:03] erikgb commented on #212
/remove-lifecycle stale

[2022-11-10 12:14] MansurEsm opened #236 "read: connection reset by peer"
Hello,

I see errors in the log of the controller.
But the functionality seems still to work.
So my problem is mainly that errors are written in the logs.

Details:
Kubernetes EKS 1.23
At the moment we run 75 Namespaces in total (With two rolebindings each NS)
The Configuration of the deployment is this:
- --webhook-server-port=9443
            - --metrics-addr=:8080
            - --max-reconciles

[2022-11-11 17:43] adrianludwin commented on #236
I've seen the occasional error like this reported but I've never been able to reproduce it. Do you know what's at XX.XXX.39.206?

[2022-11-11 17:57] adrianludwin commented on #235
Hey @absoludity ! I'd love to be able to limit visibility to the namespaces you have access to, but base K8s doesn't support that and it'd be challenging for HNC to work around that. If we ever had to, I was planning on using something roughly similar to what you're describing, I think OpenShift has a similar approach too. Sadly, since HNC is just a layer on top of vanilla K8s, there's only so muc

[2022-11-11 17:59] adrianludwin commented on #233
Oh, nice catch. Do you mind submitting a PR for that? Thanks!

Now I'm wondering - what does "exposing the port" in the YAML actually do? I thought it was necessary to make the port reachable, but if we're using it for health checks today, clearly it's already reachable?

[2022-11-11 18:00] adrianludwin commented on #231
Thanks for the PR and sorry for all the delays, hopefully we can get this in soon :)

[2022-11-11 18:00] adrianludwin commented on #230
Thanks for fixing this!
/close

[2022-11-11 18:01] #230 closed

[2022-11-11 18:03] adrianludwin commented on #226
I didn't have any plans for this, can you describe your workflow a bit more? There are a bunch of questions about the command-line tools lately (e.g. #235), if we could get some volunteers to help contribute these features that might be helpful!

Even parallelizing the calls to the server might help somewhat, though that would only really help for wide trees.

[2022-11-11 18:04] adrianludwin commented on #223
See also #226

[2022-11-11 18:04] adrianludwin commented on #226
See also #223 and my comments there

[2022-11-12 22:44] adrianludwin commented on #189
/remove-lifecycle stale

[2022-11-12 22:49] adrianludwin commented on #214
Oh wait, this was fixed by #219 . Thanks!
/close

[2022-11-12 22:49] #214 closed

[2022-11-13 04:00] adrianludwin commented on #189
PR #237 is prep for this, but I have the next PR ready to go

[2022-11-14 00:58] absoludity commented on #235
Thanks @adrianludwin, yes, I was just more wondering if it was something planned for the future. Unfortunately it's not something I'd be able to take time to do right now either. Cheers.

[2022-11-14 01:15] adrianludwin commented on #235
Understood, thanks!

On Sun, Nov 13, 2022 at 7:58 PM Michael Nelson ***@***.***>
wrote:

[2022-11-14 06:40] MansurEsm commented on #236
Yes. I have just reducted the IP Address. Its the valid and correct IP Address

[2022-11-14 13:55] lindhe commented on #233
It's purely informative. 🙃 Kind of surprising at first. It's not only informative to humans, however. It is also informative to Services, which may refer to ports via their names (if they are named), which is convenient.

[2022-11-14 14:19] adrianludwin commented on #233
Ah, good to know!

On Mon, Nov 14, 2022 at 8:56 AM Andreas Lindhé ***@***.***>
wrote:

[2022-11-14 14:47] #233 closed

[2022-11-14 15:02] adrianludwin commented on #236
Could it be the control plane (i.e. masters / apiserver)?

[2022-11-14 15:03] adrianludwin commented on #236
Prior version (https://github.com/kubernetes-sigs/hierarchical-namespaces/issues/49) was also on EKS.

A similar problem on a different project is on Azure: https://github.com/kubernetes-sigs/cluster-api-provider-azure/issues/428

Have you seen any log messages like `x509: certificate signed by unknown authority`? Maybe in the apiserver logs (see that second issue for details)?

[2022-11-14 15:05] adrianludwin commented on #236
I wonder if it has something to do with the webhooks. If you try to do something illegal - e.g., deleting a propagated object - does it go through or do you get an error? The webhooks are only there to stop you from doing the _wrong_ thing, so if you only use HNC correct, everything would appear to work.

Are you using internal cert management (the default) or something like `cert-manager`?

[2022-11-14 15:05] #231 closed

[2022-11-15 07:20] MansurEsm commented on #236
Hi,

No certificate errors. No cert-manager.
I use this certificate configuration:
- --enable-internal-cert-management
- --cert-restart-on-secret-refresh

I also suspect the webhooks. I remove them first of all and see whats happening.
Actually I did'mt saw an error doing smth illegal. But it's hard to test.

Another suspect is the AWS securitygroup setting. I will check this also.
I'll come back

[2022-11-15 07:44] MansurEsm commented on #236
Feedback:
Deleting the webhooks:
kind: MutatingWebhookConfiguration
    name: namespacelabel.hnc.x-k8s.io
and
 kind: ValidatingWebhookConfiguration
     name: subnamespaceanchors.hnc.x-k8s.io

... made that the TLS handshake Error disapeared.

The configuration of them was:
`apiVersion: admissionregistration.k8s.io/v1
kind: MutatingWebhookConfiguration
metadata:
  creationTimestamp: null
  name: h

[2022-11-15 08:31] erikgb commented on #236
One option is to try switching to cert-manager. I've had numerous issues with the cert-rotator.

[2022-11-15 11:11] iuriaranda opened #241 "Do not propagate Helm release Secrets"
Background info: Helm, by default, uses `Secrets` (of Type `helm.sh/release.v1`) to keep a history of the releases / charts deployed on the cluster. These secrets are stored in the namespace where their respective releases are deployed to.

There are already some [built-in exceptions](https://github.com/kubernetes-sigs/hierarchical-namespaces/blob/master/docs/user-guide/concepts.md#built-in-except

[2022-11-15 13:44] adrianludwin commented on #236
If there are no certificate errors, then switching from cert-rotator to
cert-manager doesn't seem too likely to solve the issue but you can
certainly try. Maybe Erik can give you the instructions :) Did you check
the apiserver logs as well?

Try re-installing the webhooks, then create two namespaces (kubectl create
ns foo) and then try to make them parents of each other (kubectl hns set
--parent f

[2022-11-15 22:19] awsprof opened #242 "Insufficient CPU results in invalid memory address or nil pointer dereference"
Hi,

I am running Hierarchical namespaces 1.0.0 on my Rancher Desktop on Mac M1. However, the hnc-controller-manager crashes with the error above and I am unable to install or update pods - because they all fail with the following error:

Error from server (InternalError): error when creating "test-greeting.yaml": Internal error occurred: failed calling webhook "objects.hnc.x-k8s.io": failed to ca

[2022-11-15 22:54] awsprof commented on #242
Further investigation into Kubernetes events, reveals the following errors:

LAST SEEN   TYPE      REASON                         OBJECT                                           MESSAGE
94m         Warning   Unhealthy                      pod/hnc-controller-manager-64d99b7477-997jr      Readiness probe failed: Get "http://10.42.0.168:8081/readyz": context deadline exceeded (Client.Timeout exceede

[2022-11-16 00:39] adrianludwin commented on #242
The segfault is a red herring, we sometimes see that when HNC shuts down
strangely. The real problem is that HNC's being killed, likely because (as
you say) it can't reach the readyz and/or healthz probes. I'm not sure why
port 8081 might be blocked but can you please ensure that it's not? Maybe
adding it to the Deployment will help (someone just checked in a fix to do
that, it'll be in v1.1 but i

[2022-11-16 11:59] awsprof commented on #242
Thank you @adrianludwin - I will make the change manually to the deployment to test it and get back shortly.

[2022-11-16 17:28] awsprof commented on #242
I had to reset the entire cluster and start from scratch (as Rancher Desktop on Mac M1 was failing). I downloaded the default.yaml file for v1.0.0 and modified the Deployment to add port 8081 and then applied the yaml file.

For now hnc seems to be working. Here is the section I added:

`            - containerPort: 8081
              name: health
              protocol: TCP`

The events still sho

[2022-11-16 17:34] awsprof commented on #242
I had to reset the entire cluster (Rancher Desktop for Mac M1 was failing but that is another story). Downloaded the default.yaml file for v1.0.0, modified the ports for Deployment to expose 8081 and then applied it to a fresh cluster.

I thought it worked for a few moments, but failed with exactly the same error again.

This is the latest I am seeing:

LAST SEEN   TYPE      REASON              OB

[2022-11-16 17:58] awsprof commented on #242
I was finally able to fix it temporarily by increasing the timeoutSeconds for the probes. Please see the attached txt file (extract of the full default.yaml file and renamed to txt

[hnc-controller-manager-deployment.txt](https://github.com/kubernetes-sigs/hierarchical-namespaces/files/10024493/hnc-controller-manager-deployment.txt)
)

The probes still fail - but somehow the hnc-controller-manager

[2022-11-16 17:59] awsprof commented on #242
I am getting plenty of the TLS Handshake errors at the moment

{"level":"error","ts":1668621256.7364924,"msg":"http: TLS handshake error from 10.42.0.1:55474: EOF"}
{"level":"error","ts":1668621256.9407673,"msg":"http: TLS handshake error from 10.42.0.1:55488: EOF"}
{"level":"error","ts":1668621257.1366735,"msg":"http: TLS handshake error from 10.42.0.1:55492: EOF"}
{"level":"error","ts":166862125

[2022-11-16 20:02] adrianludwin commented on #242
Odd that there's a ~13m period where it appears to be healthy. When the pod restarts, how long does it stay up for?

[2022-11-17 09:01] florath commented on #242
Exactly the same problem here. I have now 21 restarts of the pod since yesterday.
In my environment the pod is now up for 15 minutes, but even then I get the error:

    Internal error occurred: failed calling webhook "objects.hnc.x-k8s.io": failed to call webhook: Post "https://hnc-webhook-service.hnc-system.svc:443/validate-objects?timeout=2s": context deadline exceeded

I have no idea if this i

[2022-11-18 14:53] florath commented on #242
Just more guesswork:

I tried to get some hints about the TLS handshake errors. My current assumption is, that the connection was opened correctly, some data was exchanged. At some point the client sends a FIN but the server (hnc-controller-manager) keeps sending data. Then a second FIN comes in from the client. After this the client sends 1-3 RSTs which IMHO result in the TCP handshake error log.

[2022-11-18 15:09] florath commented on #242
Another try to get more information: I edited the deployment and added the following lines to the args for the /manager:

    - --enable-leader-election=false
    - --debug-logs=true
    - --enable-test-log=true

I currently have the feeling that it stays up longer (currently about 1h) and also emit some more logs.
There are no errors (except the TSL ones), but always the same structure when I try

[2022-11-18 15:35] awsprof commented on #242
@florath  Did you change the timeout settings like I did earlier? by editing the default.yaml file?

Because for me that timeout essentially removed the error that you get

`Internal error occurred: failed calling webhook "objects.hnc.x-k8s.io": failed to call webhook: Post "https://hnc-webhook-service.hnc-system.svc:443/validate-objects?timeout=2s": context deadline exceeded
`

[2022-11-18 15:41] florath commented on #242
No - I did not change the timeout. Got the documented errors from first / plain install.

[2022-11-18 15:42] adrianludwin commented on #242
Just one quick question - does this have anything to do with the load on
the apiserver? There was some comment that made me wonder if the webhooks
were struggling to keep up (though I don't see why they would - they're
served entirely from memory so should be much faster than the apiserver
itself). Just wanted to rule that out as a possibility.

On Fri, Nov 18, 2022 at 10:41 AM Andreas Florath ***

[2022-11-18 15:50] awsprof commented on #242
@florath  Would  you mind downloading the original default.yaml file from the HNC Github here

`https://github.com/kubernetes-sigs/hierarchical-namespaces/releases/download/V1.0.0/default.yaml `

and then add the timeout settings like

[code]

[2022-11-18 15:51] awsprof commented on #242
@adrianludwin  - I am testing on a completely empty Kubernetes server. There should be absolutely no load on the api-server.

[2022-11-18 15:56] adrianludwin commented on #242
Great thanks Sendhil.

On Fri, Nov 18, 2022 at 10:51 AM Sendhil Murugan Ramasamy <
***@***.***> wrote:

[2022-11-19 04:59] florath commented on #242
@awsprof :

What I see is, that you added the default timeouts of 10 secs - which are exactly the values which are used in my environment.

[2022-11-19 05:13] florath commented on #242
Two more observations:

1. It looks that this somehow depends on the something else - and not only the commands executed. I have a helm chart which sometimes succeeds and sometimes fails with `Internal error occurred: failed calling webhook "objects.hnc.x-k8s.io":`
2. For me it looks that there might be a relation between the number of calls / errors and the frequency of the SIGSEGV.

Currently on

[2022-11-19 06:49] florath commented on #242
There are growing evidence that this is a race-condition, runtime or uninitialized memory access problem.

I was able to create a debug container myself based on debian:11 with the addition of some tools like gdb, strace, ...

After attaching gdb to the /manager process, the `Internal error` does not occur any longer. The helm chart was complete started.

I was not able to capture a stacktrace of

[2022-11-19 07:25] florath commented on #242
Just by chance I found a workaround (I had a closer look at the "exit code 137"):
it looks that the resources of the container are too limiting. Starting the gdb took 10-20 seconds.
I increased the resources of the container to:

[code]
Until now the `Internal error` is completely gone. Works for me with the original container (1.0.0) as well as for my debug container.

My interpretation of the cu

[2022-11-19 13:22] awsprof commented on #242
@florath  - Will test today and report back.

[2022-11-19 13:35] florath commented on #242
@awsprof

Yes - for testing I just added a '0' :wink:

BTW: You also need to increase the CPU. The original value was 0.1.

[2022-11-19 13:38] awsprof commented on #242
Forgot that, yes. I will try doubling that too and test.

[2022-11-20 07:46] florath commented on #242
My `hnc-controller-manager` is now up for 24h.

[2022-11-20 16:38] awsprof commented on #242
I deleted Rancher Desktop from my Mac and then used k3d to create a new cluster. Created the same configuration - except the timeout settings and doubled the CPU. It has been running without a problem for the last 24 hours.

I have a feeling that the CPU and Memory allocation is what was causing the issue - OR maybe some incompatibility with rancher desktop configuration.

[2022-11-20 17:51] adrianludwin commented on #242
I should have thought of CPU limits, though I'm surprised that it only
caused a problem after it had been running a while, since HNC's CPU usage
is usually highest as soon as it starts up. But these results seem pretty
conclusive.

I'll raise the default request to 250mCPU and the limit to 500, hopefully
that'll be enough to keep the probes happy. Does that sound about right?

On Sun, Nov 20, 2022

[2022-11-20 18:59] awsprof commented on #242
Yes, that is correct. We can go with the values you mentioned unless something else comes up. Shall I close this issue?

[2022-11-20 20:34] adrianludwin commented on #242
No please leave it open, I'll close it when I update the defaults. Thanks!

On Sun, Nov 20, 2022, 1:59 p.m. Sendhil Murugan Ramasamy <
***@***.***> wrote:

[2022-11-21 04:41] florath commented on #242
Hmmmm.

IMHO a SIGSEGV cannot be fixed changing resource parameters of the container. As I wrote before: this is nothing more than a workaround as long as the root cause is found.
[Wild guessing: lowering the resources might trigger it more often. I'd have a look first for a new / malloc / calloc that does not check the return value.]

Also still the `TLS handshake error` is not fixed - and IMHO t

[2022-11-21 06:51] DrmagicE opened #244 "Question: Is there a way to change subnamespace parent?"
For some reason, I needs to move a subnamespace(created by subnamespaceanchors) from one namespace to another.

I have went through the documents and found that it seams it is only possible if the child namespace is a normal namespace .(not a "subnamespace").

I prefer not giving namespace creation permission to the root namespace manager, so all child namespaces will be created by `subnamespacean